	<div id="J_help_wrap" class="w_help">
  <div class="w clear">
    <div class="w_help_1">
    	<h5>关于美天</h5>
    	<ul>
    	    <li><a target="_blank" href="http://home.meishichina.com/mods/job/" title="加入我们">加入我们</a></li>
            <li><a target="_blank" href="http://www.meishichina.com/Docs/ContactUs/" title="联系我们">联系我们</a></li>
            <li><a target="_blank" href="http://www.meishichina.com/sitemap.html" title="网站地图">网站地图</a></li>
            <li><a target="_blank" href="http://home.meishichina.com/help.php" title="帮助中心">帮助</a> / <a target="_blank" href="http://home.meishichina.com/feedback.php?ac=add" title="意见与反馈">反馈</a></li>
            <li><a target="_blank" href="http://www.meishichina.com/Docs/Copyright/" title="版权与免责">版权与免责</a></li>
		</ul>
    </div>
    <div class="w_help_2">
    	<h5><a style="color:#000;" target="_blank" title="菜谱大全" href="http://home.meishichina.com/recipe.html">菜谱大全</a></h5>
    	<ul>
	  		<li><a target="_blank" title="最常见的家常菜" href="http://home.meishichina.com/recipe-menu.html">千道家常菜</a></li>
            <li><a target="_blank" title="所有菜谱分类" href="http://home.meishichina.com/recipe-type.html">所有分类</a></li>           
            <li><a target="_blank" title="热菜菜谱" href="http://home.meishichina.com/recipe/recai/">热菜</a></li>
            <li><a target="_blank" title="凉菜菜谱" href="http://home.meishichina.com/recipe/liangcai/">凉菜</a></li>
            <li><a target="_blank" title="汤羹菜谱" href="http://home.meishichina.com/recipe/tanggeng/">汤羹</a></li>
            <li><a target="_blank" title="小吃菜谱" href="http://home.meishichina.com/recipe/xiaochi/">小吃</a></li>
            <li><a target="_blank" title="儿童菜" href="http://home.meishichina.com/recipe/ertong/">儿童菜</a></li>
            <li><a target="_blank" title="开胃菜" href="http://home.meishichina.com/recipe/kaiweicai/">开胃菜</a></li>
            <li><a target="_blank" title="自制食材" href="http://home.meishichina.com/recipe/zizhishicai/">自制食材</a></li>
            <li><a target="_blank" title="泡酱腌菜" href="http://home.meishichina.com/recipe/jiangpaoyancai/">泡酱腌菜</a></li>
		</ul>
    </div>
    <div class="w_help_3">
		<h5>时下最热</h5>
        <ul>  
            <li class="short"><a target="_blank" title="土豆的做法" href="http://www.meishichina.com/YuanLiao/TuDou/">土豆</a></li>
            <li><a target="_blank" title="花样米饭" href="http://home.meishichina.com/topic-640.html">花样米饭</a></li>
            <li><a target="_blank" title="秋天吃什么" href="http://home.meishichina.com/topic-736.html">秋天吃什么</a></li>

            <li class="short"><a target="_blank" title="面条的做法" href="http://www.meishichina.com/YuanLiao/MianTiao/">面条</a></li>
            <li><a target="_blank" title="牛肉面" href="http://home.meishichina.com/topic-719.html">牛肉面</a></li>
            <li><a target="_blank" title="国王般的早餐" href="http://home.meishichina.com/topic-416.html">国王般的早餐</a></li>

            <li class="short"><a target="_blank" title="豆腐的做法" href="http://www.meishichina.com/YuanLiao/DouFu/">豆腐</a></li>
            <li><a target="_blank" title="抗雾霾" href="http://home.meishichina.com/topic-742.html">抗雾霾</a></li>
            <li><a target="_blank" title="抓住男人胃" href="http://home.meishichina.com/topic-727.html">抓住男人胃</a></li>

            <li class="short"><a target="_blank" title="芋头的做法" href="http://www.meishichina.com/YuanLiao/YuTou/">芋头</a></li>
            <li><a target="_blank" title="烘焙大全" href="http://home.meishichina.com/topic-59.html">烘焙大全</a></li>
            <li><a target="_blank" title="烤箱做的菜" href="http://home.meishichina.com/topic-743.html">烤箱做的菜</a></li>

            <li class="short"><a target="_blank" title="山药的做法" href="http://www.meishichina.com/YuanLiao/ShanYao/">山药</a></li>
            <li><a target="_blank" title="经典川菜" href="http://home.meishichina.com/topic-711.html">经典川菜</a></li>
            <li><a target="_blank" title="无辣不欢" href="http://home.meishichina.com/topic-651.html">无辣不欢</a></li>
      </ul>
	</div>
    <div class="w_help_4" style="margin:0;">
      <h5>随时随地，美食天下</h5>
	  <ul>  
        <li><img title="iPhone客户端" width="82" class="imgLoad" src="__PUBLIC__/Home/images/app_iphone.png"><div>iPhone客户端</div></li>
		<li style="margin:0 25px;display:inline;width:auto"><img title="Android客户端" width="82" class="imgLoad" src="__PUBLIC__/Home/images/app_all.png"><div>Android客户端</div></li>
        <li><img title="微信公众号" width="82" class="imgLoad" src="__PUBLIC__/Home/images/weixin.png"><div>微信公众号</div></li>
      </ul>
    </div>
  </div>
  

</div>
<div class="footer-info" id="J_footer_box">
	<div class="w">
		<p>
			GPL © 2004-2016 飓风小组,荣誉出品,仿造仅作技术参考
		</p>
	</div>
</div>
