<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>食材_食材大全_热门特色食材做法大全-美食天下</title>
<meta name="keywords" content="食材,食材大全,热门特色食材做法大全" />
<meta name="description" content="美食天下食材频道为您提供食材，食材大全，热门特色食材做法大全等最详细的图文介绍，简单食材，玩转各种花样，每一道菜都有滋有味！" />
<meta name="renderer" content="webkit">
<meta http-equiv="mobile-agent" content="format=xhtml;">
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/shicai.css">
<script type="text/javascript" src="__PUBLIC__/Home/js/shicai.js"></script>
</head>
<body>
<include file='public/header'/>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="{:U('Home/Index/index')}" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="{:U('Home/Sc/index')}" title="食材">食材</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a class=on href="http://www.meishichina.com/YuanLiao/" title="食材分类">食材分类<i></i><b></b></a>
<a href="http://www.meishichina.com/YuanLiao/yingyang/" title="营养排行">营养排行<i></i><b></b></a>
<span style="float: left; height:18px; margin:23px 4px 0; border-right: 1px solid #ddd;"></span>
<a target="_blank" href="http://www.meishichina.com/YuanLiao/gongxiao/" title="食疗食补">食疗食补</a>
</div>
</div>
<div class="w nav_wrap2">
<ul>
<li><a class="on" href="{:U('Home/Sc/index')}" title="首页">首页</a></li>


<foreach name="cat" item="scl">
	<li><a href="{:U('Home/Sc/flcx',['id'=>$scl['sid']])}" title="">{$scl.s_name}</a></li>
</foreach>

<li><a href="" title="按字母A-Z检索">按字母A-Z检索</a></li>
</ul>
</div>
<div class="w mt10 clear">
<img  width="100%" height="110"  src="__PUBLIC__/Home/images/h2.jpg">
</div>
<div class="wrap">
<div class="w clear">
<div class="category_box mt20">

<foreach name="scs" item="v">
<div class="category_sub clear">
<h3>{$key}</h3>
<ul>
	<foreach name="v" item="sc">
<li><a title="{$sc['s_name']}的做法" href="http://www.meishichina.com/YuanLiao/JiRou/" target="_blank">{$sc['s_name']}</a></li>
	</foreach>
</ul>
</div>
</foreach>

</div>
</div>
</div>
<div class="w" style="padding:10px 0">
<script type="text/javascript">
    var cpro_psid = "1000010";
    var cpro_pswidth = 990;
    var cpro_psheight = 120;
</script>
<!-- <script src="http://su.bdimg.com/static/dspui/js/ue.js" type="text/javascript"></script> -->
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<include file='public/footer'/>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/all.js?v=20161025"></script>
<script type="text/javascript">	
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();

	$(window).scroll(function() {
		var omng = $(".keyshow").eq(0).offset();
		var jtl = $("#smnbk").offset();
		 if(omng){
		if (omng.top < $(document).scrollTop() + 40) {
			$(".keyshow").css({
				position: "fixed",
				top: 40,
				margin: 0,
				left: omng.left
			});
		} else if (omng.top < jtl.top + 200) {
			$(".keyshow").css({
				position: "static",
				margin: "5px 0 0 0"
			});
		}
		}
	});
$(".search_Text").click(function(){var f=$(this).attr("data-first");if(f=="on"){$(this).val("");$(this).attr("data-first","off")}$(this).removeClass("gay")});$("#search").click(function(){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}$("#form_search").submit()});$("#q").keydown(function(event){if(event.keyCode==13){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}}});</script>
<script>
$(".category_sub").hoverDelay(function(){
$(this).find("b").fadeIn();
},function(){
$(this).find("b").fadeOut();
},200,200);
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
