<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>美食管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <link href="__PUBLIC__/Admin/css/general.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/main.css" rel="stylesheet" type="text/css" /> -->
</head>
<style>
#main{
    width:98%;
    height:650px;
    border-radius:25px;
    border: 1px solid gray;
    line-height: 650px;
    text-align: center;
    background-color: #F5F5F5;
}
#main h1{
	font-family: "方正兰亭超细黑简体";
	font-size: 60px;
}
</style>
<body>
   <div id='main'>
  		<!-- <h1>欢迎来到美食天下后台管理系统</h1> -->
  		<img src='__PUBLIC__/Admin/img/wel_left.jpg' style="float: left;margin-left:380px;margin-top:200px;" />&nbsp;<h1 style='float:left;'>w e l c o m e</h1>
   </div>
</body>
</html>