<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>广告与合作 - 美食天下</title>
<meta name="keywords" content="广告与合作,美食天下" />
<meta name="description" content="广告与合作-美食天下" />
<meta http-equiv="mobile-agent" content="format=xhtml; url=http://home.meishichina.com/wap.php?ac=article&channel=news&fr=baidum">
<link href="http://static.meishichina.com/u2/v3/cnew.css" rel="stylesheet" type="text/css" />
<link href="http://static.meishichina.com/res/web/css/wwwc.css" rel="stylesheet" type="text/css" />
<link href="http://static.meishichina.com/res/web/css/cs_comm_new.css"  rel="stylesheet" type="text/css" />
<script src="http://static.meishichina.com/res/web/scripts/jquery.min.js" type="text/javascript" language="javascript"></script>
<script language="javascript" src="http://static.meishichina.com/res/web/scripts/jqueryEui.js" type="text/javascript" charset="utf-8"></script>
<script language="javascript" src="http://static.meishichina.com/res/web/scripts/jquerymsc.js" type="text/javascript" charset="utf-8"></script>
<script language="javascript" src="http://static.meishichina.com/v3/sc.js"></script>
<script language="JavaScript">
<!--
var menu_id=1;
var submenu_id="onc1022";

function resizepic(thispic)
{
if(thispic.width>600) thispic.width=600;
}
function bbimg(o)
{
  return false;
}
-->
</script>
<style type="text/css">
<!--
.changeBox_a1{float:left;width:280px;height:233px;position:relative;}
.caseList li span {float:right;font-size:12px;color:#999;}
-->
</style>
</head>
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div id="topbar">
<div id="topbararea">
<div id="topnav" style="width:470px">
<ul>
<li><a  href="javascript:addBookmark('美食天下-最大的中文美食网站','http://www.meishichina.com?fr=fav')" style=" padding-left:14px; background:url('http://static.meishichina.com/res/web/images/xing.gif') no-repeat left center;">收藏美食天下</a></li>
<li>|</li>
<li><a target="_blank" href="http://home.meishichina.com/show-top.html">领鲜榜</a></li>
<li>|</li>
                <li><a target="_blank" href="http://www.meishichina.com/Eat/">美食厨房</a></li>
<li>|</li>
<li><a target="_blank" href="http://home.meishichina.com/recipe-menu.html">精选千道家常菜</a></li>
<li>|</li>
<li><a target="_blank" href="http://home.meishichina.com/topic-6.html">每日精选</a></li>
</ul>
</div>
<div id="ex">
        <a href="http://home.meishichina.com/do.php?ac=msreg" title="立即注册" style="margin-right:5px" target="_blank">注册</a> <a href=javascript:; title="会员登录"  target="_self"onclick="msc.dialog('login')" style="margin-right:5px">登录</a>
        <span class="pipe">┊</span><a id="loginweibo" title="用微博账号登录" href="http://home.meishichina.com/app/sina/index.php" target="_blank">微博登录</a>
        <a id="loginqq" title="用QQ号登录" href="http://home.meishichina.com/app/qq/login_index.php" target="_blank">QQ登录</a>
        <a id="loginmore" href="http://home.meishichina.com/do.php?ac=mslog"  target="_blank" title="用百度、淘宝、人人、豆瓣等账号登录">更多</a>
</div>
</div>
</div>

<div id="header">
<div id="headerarea">
<div id="logo"><h2><a title="美食天下" href="http://www.meishichina.com/" target="_parent"><strong>美食天下</strong></a></h2></div>
<div id="news"></div>
<div id="search">
<form action="http://home.meishichina.com/search.php" name="searchform" id="form_search_new" method="get" target="_blank">
        <input type="text" value="" name="q" ID="q" style="padding:0px" autocomplete="off" class="searchinput" onfocus="if(typeof(this._v)=='undefined')this._v=this.value;if(this._v==this.value)this.value='';" onblur="if(this._v&&this.value.replace(/\s/g,'')=='')this.value=this._v;">
        <input type="submit" class="searchbtn" value=" " name="submit"/>
        <input type="hidden" name="type" value="all"/>
        <input type="hidden" name="cs" value="utf8"/>
</form>
</div>
</div>
</div>

<div id="nav">
<div id="navarea">

<dl id="navs">
    <dt data-for="#nav1" class="navOn"><a href="http://www.meishichina.com/"><span>首页</span></a></dt>
<dt data-for="#nav2"><a href="http://www.meishichina.com/News/" ><span>资讯</span></a></dt>
<dt data-for="#nav0"><a href="http://www.meishichina.com/Health/" ><span>健康</span></a></dt>
<dt data-for="#nav3"><a href="http://home.meishichina.com/recipe.html" ><span>菜谱</span></a></dt>
<dt data-for="#nav4"><a href="http://www.meishichina.com/YuanLiao/" ><span>食材</span></a></dt>
<dt data-for="#nav5"><a href="http://home.meishichina.com/"><span>美食家</span></a></dt>
<dt data-for="#2"><a href="http://home.meishichina.com/gift-trial.html" ><span>试用</span></a></dt>

<dt class="col" id="navlistli" style="background: none repeat scroll 0 0 #d45a1c; height: 38px;position: relative;width:90px; display:inline; line-height:38px; top:-4px; padding:0px; margin:0px; border-top:3px solid #d45a1c;border-left: 3px solid #d45a1c;border-right: 3px solid #d45a1c;height:35px;line-height:35px">
            <a title="美食导航" href="http://home.meishichina.com/recipe-type.html" id="navlist" style=" color: #FFFFFF;padding:0;width:80px !important; _width: 80px; *width:80px; width:80px; height:35px; background:url('http://static.meishichina.com/res/web/images/navlistbg.gif') no-repeat 60px 13px; text-align:left; margin-left:10px; display:inline">美食导航</a></dt>
            <dt class="col"><a title="手机" href="http://www.meishichina.com/Mobile/" target="_blank">手机</a></dt>
            <dt class="col"><a title="活动" href="http://home.meishichina.com/event.html"  target="_blank">活动</a></dt>
            <dt class="col"><a title="专题" href="http://www.meishichina.com/Topic/"  target="_blank">专题</a></dt> 
            <dt class="col"><a title="新手区" href="http://home.meishichina.com/group-524.html"  target="_blank">新手区</a></dt>      
</dl>

<div id="menu">         
    <ul id="nav1">
        <li id="on_top365"><a href="http://home.meishichina.com/show-top-type-365.html"  title="最受欢迎的菜"><span>最受欢迎的菜</span></a></li>
        <li>┊</li>
        <li><a href='http://www.meishichina.com/Eat/' title="美食厨房"><span>美食厨房</span></a></li>
        <li>┊</li>
        <li><a href='http://www.meishichina.com/Eat/Menu/' title="家常菜谱"><span>家常菜谱</span></a></li>
        <li>┊</li>
        <li><a href='http://www.meishichina.com/Eat/RMenu/' title="热菜菜谱"><span>热菜菜谱</span></a></li>
        <li>┊</li>
        <li id="on_xiaochi"><a href='http://www.meishichina.com/Topic/XiaoChi/' title="地方小吃"><span>地方小吃</span></a></li>
        <li>┊</li>
        <li><a href='http://home.meishichina.com/network.html' title="美食广场"><span>美食广场</span></a></li>
        <li>┊</li>
        <li id="on_blog"><a href='http://home.meishichina.com/show-blog-type-elite.html' title="原创精华"><span>原创精华</span></a></li>
        <li>┊</li>
        <li id="on_zenith"><a href='http://www.meishichina.com/Special/Zenith/' title="头条推荐"><span>头条推荐</span></a></li>
        <li>┊</li>
        <li><a href='http://www.meishichina.com/Eat/Special/TuJie/' title="图解菜谱"><span>图解菜谱</span></a></li>
        <li>┊</li>
        <li><a href='http://www.meishichina.com/YuanLiao/' title="原料菜谱"><span>原料菜谱</span></a></li>
    </ul>
    <ul id="nav2">
        <li id="on397"><a href="http://www.meishichina.com/News/HangYe/"  title="食品行业"><span>食品行业</span></a></li>
        <li>┊</li>
        <li id="on434"><a href='http://www.meishichina.com/News/ChuFang/' title="厨房行业"><span>厨房行业</span></a></li>
        <li>┊</li>
        <li id="on398"><a href='http://www.meishichina.com/News/CanYin/' title="餐饮资讯"><span>餐饮资讯</span></a></li>
        <li>┊</li>
        <li id="on402"><a href='http://www.meishichina.com/News/ZhanHui/' title="展会"><span>展会</span></a></li>
        <li>┊</li>
        <li id="on425"><a href='http://www.meishichina.com/News/RenWu/' title="人物"><span>人物</span></a></li>
        <li>┊</li>
        <li id="on_meishike"><a href='http://www.meishichina.com/MeiWeiKe/' title="专栏"><span>专栏</span></a></li>
        <li>┊</li>
        <li id="on_topic"><a href='http://www.meishichina.com/Topic/' title="专题"><span>专题</span></a></li>
    </ul>
    <ul id="nav0">
        <li id="onc9" ><a title="饮食健康" href="http://www.meishichina.com/Health/"><span>饮食健康</span></a></li>
        <li>┊</li>
        <li id="on17" ><a title="饮食常识" href="http://www.meishichina.com/Health/CommonSense/"><span>饮食常识</span></a></li>
        <li>┊</li>
        <li id="on18" ><a title="瘦身美容" href="http://www.meishichina.com/Health/Pulchritude/"><span>瘦身美容</span></a></li>
        <li>┊</li>
        <li id="on19" ><a title="母婴饮食" href="http://www.meishichina.com/Health/Baby/"><span>母婴饮食</span></a></li>
        <li>┊</li>
        <li id="on20" ><a title="食疗食补" href="http://www.meishichina.com/Health/Virtue/"><span>食疗食补</span></a></li>
        <li>┊</li>
        <li id="on21" ><a title="食物档案" href="http://www.meishichina.com/Health/Food/"><span>食物档案</span></a></li>
        <li>┊</li>
        <li id="on22"><a title="营养手册" href="http://www.meishichina.com/Health/Nutrition/"><span>营养手册</span></a></li>
        <li>┊</li>
        <li id="onc1004"><a title="家庭健康" href="http://www.meishichina.com/Physique/"><span>家庭健康</span></a></li>
    </ul>
    <ul id="nav3">
        <li><a class="newnav" href="http://home.meishichina.com/recipe.html" title="菜谱" ><span>菜谱</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/recipe-list.html" title="所有菜谱"><span>所有菜谱</span></a></li>        
        <li>┊</li>
        <li id="onc8"><a class="newnav" href="http://www.meishichina.com/Eat/" title="美食厨房" ><span>美食厨房</span></a></li>
        <li>┊</li>
        <li id="on_menu"><a href="http://www.meishichina.com/Eat/Menu/" title="最新" ><span>最新</span></a></li>
        <li>┊</li>
        <li id="on10"><a href="http://www.meishichina.com/Eat/RMenu/" title="热菜"><span>热菜</span></a></li>
         <li>┊</li>
        <li id="on11"><a href="http://www.meishichina.com/Eat/LMenu/" title="凉菜"><span>凉菜</span></a></li>
        <li>┊</li>
        <li id="on12"><a href="http://www.meishichina.com/Eat/TMenu/" title="汤煲"><span>汤煲</span></a></li>
        <li>┊</li>
        <li id="on15"><a href="http://www.meishichina.com/Eat/Nosh/" title="小吃" ><span>小吃</span></a></li>
        <li>┊</li>
        <li id="on150"><a href="http://www.meishichina.com/Eat/Liao/" title="食疗" ><span>食疗</span></a></li>
        <li>┊</li>
        <li id="on151"><a href="http://www.meishichina.com/Eat/WeiBo/" title="微波" ><span>微波</span></a></li>
        <li>┊</li>
        <li id="on66"><a href="http://www.meishichina.com/Eat/WSFood/" title="外国菜" ><span>外国菜</span></a></li>
        <li>┊</li>
        <li id="ons69"><a href="http://www.meishichina.com/Eat/Special/zhushi/" title="主食" ><span>主食</span></a></li>
        <li>┊</li>
        <li id="ons19"><a href="http://www.meishichina.com/Eat/Special/SweetMeat/" title="糕点"><span>糕点</span></a></li>
        <li>┊</li>
        <li id="ons141"><a href="http://www.meishichina.com/Eat/Special/TuJie/" title="图解菜谱" ><span>图解菜谱</span></a></li>
    </ul>
    <ul id="nav4">
        <li id="on_yuanliao"><a href="http://www.meishichina.com/YuanLiao/" title="原料菜谱(食材)" ><span>原料菜谱(食材)</span></a></li>
        <li>┊</li>
        <li><a href="http://www.meishichina.com/Eat/Special/TuJie/" title="图解菜谱"><span>图解菜谱</span></a></li>
        <li>┊</li>
        <li id="on_yuanliao1"><a href="http://www.meishichina.com/YuanLiao/#1" title="肉禽类"><span>肉禽类</span></a></li>
        <li>┊</li>
        <li id="on_yuanliao2"><a href="http://www.meishichina.com/YuanLiao/#2" title="水产品"><span>水产品</span></a></li>
        <li>┊</li>
        <li id="on_yuanliao3"><a href="http://www.meishichina.com/YuanLiao/#3" title="蔬菜类"><span>蔬菜类</span></a></li>
        <li>┊</li>
        <li id="on_yuanliao4"><a href="http://www.meishichina.com/YuanLiao/#4"  title="果品类"><span>果品类</span></a></li>
        <li>┊</li>
        <li id="on_yuanliao5"><a href="http://www.meishichina.com/YuanLiao/#5"  title="米面豆乳类"><span>米面豆乳类</span></a></li>
    </ul>
    <ul id="nav5">
        <li><a href="http://home.meishichina.com/network.html" title="广场" ><span>广场</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/network-blog.html"  title="日志"><span>日志</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/network-doing.html"  title="说说"><span>说说</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/group.html"  title="小组"><span>小组</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/event.html"  title="活动"><span>活动</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/pai.html"  title="随拍"><span>随拍</span></a></li>
        <li>┊</li>
        <li><a href="http://home.meishichina.com/tool-fav-do-all.html"  title="收藏"><span>收藏</span></a></li>
    </ul>                       
</div>

</div>
</div>
<style type="text/css">
#menu{ width:980px;}
#menu li { display:inline;}
#navstyle ul li a:link ,#navstyle ul li a:visited{ white-space:nowrap;color:#2C629E}
#navstyle ul li a:active ,#navstyle ul li a:hover{ white-space:nowrap;color:#f30}
</style>
 <div class="navstyle" id="navstyle" style="position:relative;z-index:200;display:none; width:480px;">
            <ul>
                <h5>热门分类</h5>
                <li><a href="http://home.meishichina.com/collect-29971.html" target="_blank">热菜</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-29970.html" target="_blank">凉菜</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-40460.html" target="_blank">小吃</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-56997.html" target="_blank">主食</a></li>
               <li>|</li>
                <li><a href="http://home.meishichina.com/collect-55172.html" target="_blank">汤羹</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-57024.html" target="_blank">糕点</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-46045.html" target="_blank">饮品</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-43422.html" target="_blank">川菜</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-43426.html" target="_blank">湘菜</a></li>
                <li>|</li>
                <li><a href="http://home.meishichina.com/collect-43424.html" target="_blank">粤菜</a></li>
            </ul>
            <div class="clear"></div>
            <ul>
                <h5>按口味</h5>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-1.html" target="_blank">微辣</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-2.html" target="_blank">中辣</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-3.html" target="_blank">超辣</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-4.html" target="_blank">麻辣</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-5.html" target="_blank">酸辣</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-6.html" target="_blank">酸甜</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-7.html" target="_blank">酸咸</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-8.html" target="_blank">咸鲜</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-9.html" target="_blank">咸甜</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-10.html" target="_blank">甜味</a></li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-13.html" target="_blank">清淡</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-14.html" target="_blank">五香</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-15.html" target="_blank">鱼香</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-17.html" target="_blank">蒜香</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-18.html" target="_blank">奶香</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-19.html" target="_blank">酱香</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-21.html" target="_blank">咖喱</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-22.html" target="_blank">孜然</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/recipe-type-do-cuisine-view-23.html" target="_blank">果味</a></li>
            </ul>
            <div class="clear"></div>
            <ul>
                <h5>按人群/食疗</h5>
                <li><a href="http://home.meishichina.com/collect-39399.html" title="孕妇食谱" target="_blank">孕妇</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-39421.html" title="产妇食谱" target="_blank">产妇</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-55189.html" title="婴儿食谱" target="_blank">婴儿</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-56985.html" title="儿童食谱" target="_blank">儿童</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-48365.html" title="老人食谱" target="_blank">老人</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-56241.html" title="贫血菜谱" target="_blank">贫血</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-39719.html" title="美容菜谱" target="_blank">美容</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-39867.html" title="减肥菜谱" target="_blank">减肥</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-45324.html" title="便秘菜谱" target="_blank">便秘</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-56182.html" title="滋阴菜谱" target="_blank">滋阴</a></li>
                <li><a href="http://home.meishichina.com/collect-39722.html" title="养生菜" target="_blank">养生菜</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-48218.html" title="清热祛火菜谱" target="_blank">清热祛火</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-56193.html" title="月经不调菜谱" target="_blank">月经不调</a></li><li>|</li>
                <li><a href="http://home.meishichina.com/collect-56180.html" title="补阳菜谱" target="_blank">补阳</a></li>
            </ul>
            <div class="clear"></div>
            <ul>
                <h5>按主要食材</h5>
                <li><a href="http://www.meishichina.com/YuanLiao/ZhuRou/" title="猪肉" target="_blank">猪肉</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/PaiGu/"  title="排骨"  target="_blank">排骨</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/XiHongShi/"  title="西红柿" target="_blank">西红柿</a></li><li>|</li>
                 <li><a href="http://www.meishichina.com/YuanLiao/NiuRou/" title="牛肉" target="_blank">牛肉</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/JiRou/"  title="鸡肉" target="_blank">鸡肉</a></li><li>|</li>
                 <li><a href="http://www.meishichina.com/YuanLiao/JiChi/"  title="鸡翅" target="_blank">鸡翅</a></li><li>|</li>
                 <li><a href="http://www.meishichina.com/YuanLiao/Xia/"  title="虾" target="_blank">虾</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/QieZi/"  title="茄子" target="_blank">茄子</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/DouJiao/"  title="豆角" target="_blank">豆角</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/NanGua//"  title="南瓜" target="_blank">南瓜</a></li>
                <li><a href="http://www.meishichina.com/YuanLiao/CaiHua/"  title="菜花" target="_blank">菜花</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/TuDou/"  title="土豆" target="_blank">土豆</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/DongGua/"  title="冬瓜" target="_blank">冬瓜</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/KuGua/"  title="苦瓜" target="_blank">苦瓜</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/XiangGu/"  title="香菇" target="_blank">香菇</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/DouFu/"  title="豆腐" target="_blank">豆腐</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/HuangDou/"  title="黄豆" target="_blank">黄豆</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/HuaSheng/"  title="花生" target="_blank">花生</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/NiuNai/"  title="牛奶" target="_blank">牛奶</a></li><li>|</li>
                <li><a href="http://www.meishichina.com/YuanLiao/NaiLao/"  title="奶酪" target="_blank">奶酪</a></li>
            </ul>
            <div class="clear"></div>
            <ul>
                <h5>美食厨房</h5>          
                    <li><a href="http://www.meishichina.com/Eat/Menu/"  title="最新" target="_blank">最新</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/RMenu/"  title="热菜" target="_blank">热菜</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/LMenu/"  title="凉菜" target="_blank">凉菜</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/TMenu/"  title="汤煲" target="_blank">汤煲</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Nosh/"  title="小吃" target="_blank">小吃</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Liao/"  title="食疗" target="_blank">食疗</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/WeiBo/"  title="微波" target="_blank">微波</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Drink/"  title="饮品" target="_blank">饮品</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/zhushi/"  title="主食" target="_blank">主食</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/staplefood/"  title="面食" target="_blank">面食</a></li>
                    <li><a href="http://www.meishichina.com/Eat/WSFood/"  title="外国菜" target="_blank">外国菜</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/SweetMeat/"  title="糕点" target="_blank">糕点</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/Conjee/"  title="粥品" target="_blank">粥品</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/HongPei/"  title="烘焙" target="_blank">烘焙</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/MenuXC/"  title="西餐" target="_blank">西餐</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/pengren/"  title="烹饪技巧" target="_blank">烹饪技巧</a></li><li>|</li>
                    <li><a href="http://www.meishichina.com/Eat/Special/TuJie/"  title="图解菜谱" target="_blank">图解菜谱</a></li>
            </ul>
            <div class="clear"></div>
</div>
<div id="Main">
    <div class="frame">
			

        <div class="main">
			<h1><a title="广告与合作" href="/Docs/Cooperate/">广告与合作</a></h1>
			<div class="content">
				<h4>广告优势</h4>
				<ul>
					<li><strong>高度的行业认知</strong>：美食天下创建于2004年，目前月唯一用户数近3000万，是全球最大的中文美食网络与美食社区， 在美食网站中有着极高的认知度与美誉度。</li>
					<li><strong>精准的目标受众</strong>：网站受众群体以25-38岁女性为主，有浓厚的家庭感，注重家庭成员的饮食与健康保 健。此目标用户群月收入在6000元以上，消费欲望强烈，并 拥有家庭日常消费主导权。</li>
					<li><strong>巨大的访问量</strong>：优秀的原创内容、精良的用户体验、长期的 口碑积累使得用户增长迅速。目前每月的页面访问量超过1亿， 月活跃用户数达1100万，并呈上升趋势。</li>
				</ul>
				<h4>广告形式与内容</h4>
				<ul>
					<li>投放广告内容需经美食天下同意，并无色情、赌博犯罪、广告联盟以及易引发访客反感的其它内容。</li>
					<li>形式为图片与Flash，不得包含弹窗、恶意代码，视频广告另议。</li>
					<li>广告内容必须健康，有价值，无虚假广告。</li>
				</ul>
				<p>如果您有广告投放、产品与品牌营销的需求，请联系我们：</p>
				<p>电话: 010&nbsp;-&nbsp;65679771<br />
手机: 186 0059 0890<br /> 

E-mail: sales[#]meishichina.com</p>
				<p><span style="color:#999;">请将[#]替换为@ &mdash;&mdash; 此为防止垃圾邮件，敬请谅解。 </span></p>
				<p>公司地址: 北京市朝阳区建国路126号瑞赛大厦901室(100022)<br />
(工作时间: 周一至周五 9:00 - 18:00)
<br />
			  </p>
			</div>
		</div>
		<div class="sideBar">
			<div class="sBox">
				<h2>网站文档</h2>
				<ul class="sList1">
					<li><a title="关于我们" href="/Docs/AboutUs/">关于我们</a></li>
					<li><a title="版权与免责" href="/Docs/Copyright/">版权与免责</a></li>
					<li><a title="广告与合作" href="/Docs/Cooperate/">广告与合作</a></li>
					<li><a title="联系我们" href="/Docs/ContactUs/">联系我们</a></li>
					<li><a title="资质证明" href="/Docs/Licence/">资质证明</a></li>
					<li><a title="网站地图" href="/Docs/SiteMap/">网站地图</a></li>
					<li><a title="友情链接" href="/Docs/Links/">友情链接</a></li>
				</ul>
			</div><span style="clear:both;"></span>
		</div>		
	</div>
</div>
<div id="footer">
<div id="sitearea">
            <div id="footl">
                <ul>
                    <li><strong>发现美食</strong></li>
                    <li><a href="http://home.meishichina.com/show-top.html" target="_blank">领鲜榜</a><span>/</span><a href="http://home.meishichina.com/show-top-type-365.html" target="_blank">美食365</a></li>
                    <li><a href="http://home.meishichina.com/recipe.html" target="_blank">菜谱</a><span>/</span><a href="http://www.meishichina.com/YuanLiao/" target="_blank">食材</a><span>/</span><a href="http://home.meishichina.com/recipe-type.html" target="_blank">分类</a></li>
                    <li><a href="http://home.meishichina.com/show-topic.html" target="_blank">美食专题</a></li>
                    <li><a href="http://www.meishichina.com/Eat/Menu/" target="_blank">家常菜谱大全</a></li>
                    <li><a href="http://www.meishichina.com/Topic/CaiPu/HongPei/" target="_blank">烘焙大全</a></li>
                </ul>
                <ul>
                    <li><strong>分享美食</strong></li>
                    <li><a href="http://home.meishichina.com/recipe.html" target="_blank">原创菜谱</a></li>
                    <li><a href="http://home.meishichina.com/collect.html" target="_blank">菜单</a></li>
                    <li><a href="http://home.meishichina.com/show-blog-type-elite.html" target="_blank">日志精选</a></li>
                    <li><a href="http://home.meishichina.com/tool-fav-do-all.html" target="_blank">正在收藏</a></li>
                </ul>
                <ul>
                    <li><strong>交友</strong></li>
                    <li><a href="http://home.meishichina.com/help.php?ac=welcome#welcome_2" target="_blank">为什么要注册？</a></li>
                    <li><a href="http://home.meishichina.com/help.php?ac=collect#collect_1" target="_blank">什么是菜单</a></li>
                    <li><a href="http://home.meishichina.com/help.php?ac=event#event_2" target="_blank">如何参加活动</a></li>
                    <li><a href="http://home.meishichina.com/help.php?ac=user#user_16" target="_blank">积分的作用</a></li>
                    <li><a href="http://home.meishichina.com/help.php" target="_blank">求帮助</a><span>/</span><a href="http://home.meishichina.com/feedback.php" target="_blank">提意见</a></li>
                </ul>
                <ul>
                    <li><strong>更多</strong></li>
                    <li><a title="关于我们" href="http://www.meishichina.com/Docs/AboutUs/" target="_blank">关于我们</a></li>
                    <li><a title="版权与免责" href="http://www.meishichina.com/Docs/Copyright/" target="_blank">版权与免责</a></li>
                    <li><a title="联系我们" href="http://www.meishichina.com/Docs/ContactUs/" target="_blank">联系我们</a></li>
                    <li><a title="网站地图" href="http://www.meishichina.com/Docs/SiteMap/" target="_blank">网站地图</a></li>
                    <li><a title="友情链接" href="http://www.meishichina.com/Docs/Links/" target="_blank">友情链接</a></li>
                </ul><span style="clear:both;"></span>
            </div>
            <div id="footr">
                <p>随时随地，手机美食...</p>
                <ul id="fr50">
                    <li id="Android"><a href="http://www.meishichina.com/Mobile/" title="美食天下Android手机客户端" target="_blank"><span>美食天下Android手机客户端</span></a></li>
                    <li id="iPhone"><a href="http://www.meishichina.com/Mobile/iPhone/" title="美食天下iPhone手机客户端" target="_blank"><span>美食天下iPhone手机客户端</span></a></li>
                    <li id="iPad"><a href="http://www.meishichina.com/Mobile/iPad/" title="美食天下iPad客户端" target="_blank"><span>美食天下iPad客户端</span></a></li>
                    <li id="Kjava"><a href="http://www.meishichina.com/Mobile/Kjava/" title="美食天下Kjava手机客户端" target="_blank"><span>美食天下Kjava手机客户端</span></a></li>
                    <li id="wap"><a href="http://www.meishichina.com/Mobile/WAP/" title="美食天下WAP手机版" target="_blank"><span>美食天下WAP手机版</span></a></li>
                </ul>
                <p>每时每刻，关注美食天下...</p>
                <ul id="fr30">
                    <li id="mweibo"><a href="http://weibo.com/meishichina" title="新浪微博" target="_blank"><span>新浪微博</span></a></li>
                    <li id="mqqmb"><a href="http://t.qq.com/meishichina" title="腾讯微博" target="_blank"><span>腾讯微博</span></a></li>
                    <li id="mqzone"><a href="http://user.qzone.qq.com/1426269787/" title="QQ认证空间" target="_blank"><span>QQ认证空间</span></a></li>
                    <li id="msohu"><a href="http://meishichina.t.sohu.com" title="搜狐微博" target="_blank"><span>搜狐微博</span></a></li>
                    <li id="mrenren" class="fr40"><a href="http://page.renren.com/698000061" title="人人公共主页" target="_blank"><span>人人公共主页</span></a></li>
                    <li id="maillist"><a href="http://list.qq.com/cgi-bin/qf_invite?id=fd2cb0c3d1bb7bb738819de6839cfa9612197cce6d5897d8" title="邮件订阅：美食天下每周精选" target="_blank"><span>每周精选</span></a></li>
                    <li id="mqqmail"><a href="http://mail.qq.com/cgi-bin/bookcol?colid=20004" title="QQ邮箱订阅：每日菜谱精选" target="_blank"><span>QQ邮箱</span></a></li>
                </ul>
            </div>
</div>
<div id="copyright" class="nb">
<a title="美食天下 - 让吃更美好!" href="http://www.meishichina.com">美食天下 - 让吃更美好!</a>
<br/>版权所有 &copy; 2004-2012 美食天下(MeiShiChina.Com) 保留所有权利 - <span><a href="http://www.miibeian.gov.cn/">京ICP证090244号</a> / <a target="_blank" href="http://www.miibeian.gov.cn/">京ICP备10020153号</a> / 京公网安备 110105010204</span></div><span style="clear:both;"></span>
<div class="clear"></div>
</div>
<div id="floatbar">
    <a id="callinfo" class="callinfo" target="_blank" title="" href="http://home.meishichina.com/space-notice.html">
    <a id="callbackfav" onclick="addBookmark('美食天下-最大的中文美食网站','http://www.meishichina.com?fr=fav')" title="收藏本站"> </a>
    <a id="callback" class="callback" style="display:none" onclick="scroll(0,0)" title="返回顶部" href="javascript:;"> </a>
</div>
<script src="http://static.meishichina.com/res/web/scripts/msc_common.js" language="JavaScript" charset="utf-8"></script>
<script src="http://w.cnzz.com/c.php?id=30052643" language="JavaScript"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-348109-1']);
    _gaq.push(['_setDomainName', '.meishichina.com']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<span style="display:none;"><script src="http://s58.cnzz.com/stat.php?id=226226&web_id=226226" language="JavaScript" charset="gb2312"></script></span>
<script type="text/javascript" >BAIDU_CLB_SLOT_ID = "401356";</script>
<iframe id='cross_iframe_id' src='http://home.meishichina.com/xmlhttp.html'  style='display:none'></iframe>
</body>
</html>
