<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美食搜索_菜谱搜索-美食天下</title>
<meta name="keywords" content="美食搜索,菜谱搜索,食材搜索,魔方搜索,日志搜索,会员搜索" />
<meta name="description" content="为您提供最便捷、最快速的美食相关内容查找！" />
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="__PUBLIC__/Home/images/f.ico"/>
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/images/all.css">
<link rel="stylesheet" type="text/css" href="http://static.meishichina.com/v6/css/app/search/all.css?a=2016-08-05">
</head>
<body>
<include file='public.header'/>
<div class="w clear search_nav">
<div class="nv">
<a class="on" href="http://home.meishichina.com/search/">综合</a>
<a href="http://home.meishichina.com/search/recipe/">菜谱</a>
<a href="http://home.meishichina.com/search/ingredient/">食材</a>
<a href="http://home.meishichina.com/search/mofang/">魔方</a>
<a href="http://home.meishichina.com/search/blog/">日志</a>
</div>
<form id="form_search" action='http://home.meishichina.com/search/' method="post">
<div class="searchBox J_search">
<input type="text" id="q" class="search_Text J_searchTxt" value="" autocomplete="off">
<a href="javascript:;" title="搜索" class="search_Btn J_searchBTN" id="search">搜 索</a>
</div>
</form>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
<div class="arinfo clear">
<div class="left">
<iframe frameborder="0" width="640" height="350" scrolling="no" src="http://www.meishichina.com/pages/st.html"></iframe>
</div>
</div>
<div class="ui_list_1" id="search_res_list">
<ul>
</ul>
</div>
<div class="search_hot clear">
<div class="mo mt20">
<h3>热门关键词</h3>
</div>
<ul>
<li><a href="http://home.meishichina.com/search/火锅/">火锅</a></li>
<li><a href="http://home.meishichina.com/search/蛋糕/">蛋糕</a></li>
<li><a href="http://home.meishichina.com/search/披萨/">披萨</a></li>
<li><a href="http://home.meishichina.com/search/早餐/">早餐</a></li>
<li><a href="http://home.meishichina.com/search/饺子/">饺子</a></li>
<li><a href="http://home.meishichina.com/search/粥/">粥</a></li>
<li><a href="http://home.meishichina.com/search/汤/">汤</a></li>
<li><a href="http://home.meishichina.com/search/蛋挞/">蛋挞</a></li>
<li><a href="http://home.meishichina.com/search/羊肉/">羊肉</a></li>
<li><a href="http://home.meishichina.com/search/豆腐/">豆腐</a></li>
<li><a href="http://home.meishichina.com/search/排骨/">排骨</a></li>
<li><a href="http://home.meishichina.com/search/茄子/">茄子</a></li>
<li><a href="http://home.meishichina.com/search/牛肉/">牛肉</a></li>
<li><a href="http://home.meishichina.com/search/土豆/">土豆</a></li>
<li><a href="http://home.meishichina.com/search/白菜/">白菜</a></li>
<li><a href="http://home.meishichina.com/search/虾/">虾</a></li>
</ul>
</div>
</div>
<div class="space_right">
<div class="search_r">
<div class="ui_title">
<div class="ui_title_wrap">
<h2 class="on">大家都在搜</h2>
</div>
</div>
<ul class="tuijian">
<li class='hot'><i>1</i><a href='http://home.meishichina.com/search/糖醋排骨/'>糖醋排骨</a></li><li class='hot'><i>2</i><a href='http://home.meishichina.com/search/红烧肉/'>红烧肉</a></li><li class='hot'><i>3</i><a href='http://home.meishichina.com/search/串串香/'>串串香</a></li><li><i>4</i><a href='http://home.meishichina.com/search/红烧排骨/'>红烧排骨</a></li><li><i>5</i><a href='http://home.meishichina.com/search/鱼香肉丝/'>鱼香肉丝</a></li><li><i>6</i><a href='http://home.meishichina.com/search/麻婆豆腐/'>麻婆豆腐</a></li>
</ul>
</div>
<div>
</div>
</div>
</div>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<include file='public.footer'/>
<script type="text/javascript" src="__PUBLIC__/Home/js/all.js?v=20161025"></script>
<script type="text/javascript">	
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();
 
$("#search").click(function() {
	if ($("#q").val().replace(/\s+/g, "").replace("　", "") != '') 
	$("#form_search").attr("action", $("#form_search").attr("action")+ $("#q").val() + "/");
	$("#form_search").submit()
});
$('#q').keydown(function(event) {
	if (event.keyCode == 13) {
		if ($("#q").val().replace(/\s+/g, "").replace("　", "") != '') 
		$("#form_search").attr("action", $("#form_search").attr("action")+ $("#q").val() + "/");
	}
});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
