<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专题_美食专题_美食魔方-美食天下</title>
<meta name="keywords" content="专题,菜谱专题,美食专题,美食魔方,魔方" />
<meta name="description" content="美食专题是美食天下最具特色的内容服务，为您提供最新、最实用的美食知识及内容专题，解决关于吃的所有问题." />
<meta name="renderer" content="webkit">
<meta http-equiv="mobile-agent" content="format=xhtml;">
<link rel="shortcut icon" href="__PUBLIC__/Home/images/f.ico"/>
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css?a=7">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all2.css?a=2016-08-05">
</head>
<body>
<include file='public.header'/>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="{:U('Home/Index/index')}" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="http://www.meishichina.com/mofang/" title="专题">专题</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a title="专题首页" href="http://www.meishichina.com/mofang/" class="on">专题首页<i></i><b></b></a>
<a title="排行" href="http://www.meishichina.com/mofang/top/">排行<i></i><b></b></a>
<span style="float: left; height:18px; margin:23px 4px 0; border-right: 1px solid #ddd;"></span>
<a title="菜单" href="http://home.meishichina.com/collect-list-type-recipe.html" target="_blank">菜单<i></i><b></b></a>
<a title="清单" href="http://zhen.meishichina.com/listing/" target="_blank">清单<i></i><b></b></a>
</div>
</div>
<div class="w nav_wrap2">
<ul>
<li><a title="全部" class=on href="http://www.meishichina.com/mofang/">全部</a></li>
<li><a title="主题美食" href="http://www.meishichina.com/mofang/class/zhutimeishi/">主题美食</a></li>
<li><a title="厨电专题" href="http://www.meishichina.com/mofang/class/chudiantiyan/">厨电专题</a></li>
<li><a title="食材专题" href="http://www.meishichina.com/mofang/class/yipinshicai/">食材专题</a></li>
<li><a title="经典美食" href="http://www.meishichina.com/mofang/class/jingdianmeishi/">经典美食</a></li>
</ul>
</div>
<div class="wrap">
<div class="w clear">
<div class="zhen_listing_index clear mt10">
<ul>
<li>
<a title="千道宴客菜" href="http://www.meishichina.com/mofang/qiandaoyankecai/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2015/09/09/201509091441786677904.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>千道宴客菜</p>
</a>
</li>
<li>
<a title="寒风瑟瑟，不如干了这碗“鸡汤”" href="http://www.meishichina.com/mofang/yiwanjitang/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/31/20161031147790421258413.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>寒风瑟瑟，不如干了这碗“鸡汤”</p>
</a>
</li>
<li>
<a title="秋冬季，最适合自己的一碗好汤" href="http://www.meishichina.com/mofang/qiiudonghaotang/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/26/20161026147745328339013.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋冬季，最适合自己的一碗好汤</p>
</a>
</li>
<li>
<a title="告别手脚冰凉，御寒食物要多吃" href="http://www.meishichina.com/mofang/shoujiaobingliang/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/25/20161025147738987725513.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>告别手脚冰凉，御寒食物要多吃</p>
</a>
</li>
<li>
<a title="万圣节party，你准备好了吗？" href="http://www.meishichina.com/mofang/wanshengjiepaidui/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/24/20161024147730115072913.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>万圣节party，你准备好了吗？</p>
</a>
</li>
<li>
<a title="雅致早午餐 好吃、管饱、有情调" href="http://www.meishichina.com/mofang/zaowucan/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/20/20161020147693745149213.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>雅致早午餐 好吃、管饱、有情调</p>
</a>
</li>
<li>
<a title="秋风微凉，抗感冒食物GET" href="http://www.meishichina.com/mofang/kangganmao/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/18/20161018147676073179913.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋风微凉，抗感冒食物GET</p>
</a>
</li>
<li>
<a title="唇纹" href="http://www.meishichina.com/mofang/huchunmeishi/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/18/20161018147678512657813.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>唇纹</p>
</a>
</li>
<li>
<a title="一碗好汤，滋阴润燥" href="http://www.meishichina.com/mofang/ziyinrunzaotang/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/12/20161012147625691993813.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>一碗好汤，滋阴润燥</p>
</a>
</li>
<li>
<a title="秋食坚果 养生又养颜" href="http://www.meishichina.com/mofang/jianguohb/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/13/20161013147634746538613.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋食坚果 养生又养颜</p>
</a>
</li>
<li>
<a title="秋季焕肤改造 排浊修护滋养全hold住! " href="http://www.meishichina.com/mofang/qiujihuanfugaizao/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/10/20161010147607347933513.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋季焕肤改造 排浊修护滋养全hold住! </p>
</a>
</li>
<li>
<a title="秋日好丰收 应季食材做烘焙" href="http://www.meishichina.com/mofang/qiuritianpin/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/10/09/20161009147599499541613.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋日好丰收 应季食材做烘焙</p>
</a>
</li>
<li>
<a title="平底锅甜品，没有烤箱照样搞定√" href="http://www.meishichina.com/mofang/pingdiguotianpin/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/30/20160930147521512060813.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>平底锅甜品，没有烤箱照样搞定√</p>
</a>
</li>
<li>
<a title="杯子甜品，手捧着吃的快乐" href="http://www.meishichina.com/mofang/beizitianpin/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/27/20160927147497180448313.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>杯子甜品，手捧着吃的快乐</p>
</a>
</li>
<li>
<a title="从主菜到甜品 假期做一枚“健康吃货”" href="http://www.meishichina.com/mofang/jiaqishiwu/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/27/20160927147496957037913.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>从主菜到甜品 假期做一枚“健康吃货”</p>
</a>
</li>
<li>
<a title="一起品味杂粮的粗粝与温柔" href="http://www.meishichina.com/mofang/wuguzaliang/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/26/20160926147488586468113.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>一起品味杂粮的粗粝与温柔</p>
</a>
</li>
<li>
<a title="国内特色美食攻略，十一HIGH玩儿必备" href="http://www.meishichina.com/mofang/guoneitesemeishi/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/26/20160926147487892141413.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>国内特色美食攻略，十一HIGH玩儿必备</p>
</a>
</li>
<li>
<a title="秋季补水护肤，想美趁早" href="http://www.meishichina.com/mofang/qiujibushui/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/26/20160926147485832486313.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋季补水护肤，想美趁早</p>
</a>
</li>
<li>
<a title="养肝王牌食物 肝脏一辈子都健康" href="http://www.meishichina.com/mofang/yangganwangpaishiwu/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/26/20160926147488438582413.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>养肝王牌食物 肝脏一辈子都健康</p>
</a>
</li>
<li>
<a title="红糖甜品 不仅是养颜美容" href="http://www.meishichina.com/mofang/hongtangtianpin/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/23/20160923147462372798813.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>红糖甜品 不仅是养颜美容</p>
</a>
</li>
<li>
<a title="美颜食物的神级吃法 破解美丽秘密" href="http://www.meishichina.com/mofang/meiyanshiwu/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/23/20160923147461976122213.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>美颜食物的神级吃法 破解美丽秘密</p>
</a>
</li>
<li>
<a title="奥利奥变甜品 零食界的变形金刚" href="http://www.meishichina.com/mofang/aoliaotianpin/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/23/20160923147461646211613.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>奥利奥变甜品 零食界的变形金刚</p>
</a>
</li>
<li>
<a title="秋季最in苹果料理！教你花式吃苹果" href="http://www.meishichina.com/mofang/huashichipingguo/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/23/20160923147459954183713.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>秋季最in苹果料理！教你花式吃苹果</p>
</a>
</li>
<li>
<a title="颤抖吧胖子!最佳燃脂食物你值得拥有" href="http://www.meishichina.com/mofang/ranzhishiwu/" target="_blank">
<i>
<img data-src="http://i3.meishichina.com/attachment/mofang/2016/09/22/20160922147453982188113.jpg" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif">
</i>
<p>颤抖吧胖子!最佳燃脂食物你值得拥有</p>
</a>
</li>
</ul>
</div>
<div class="ui-page mt10">
<div class="ui-page-inner clear">
<a class='now_page'>1</a>
<a href="http://www.meishichina.com/mofang/page/2/">2</a>
<a href="http://www.meishichina.com/mofang/page/3/">3</a>
<a href="http://www.meishichina.com/mofang/page/4/">4</a>
<a href="http://www.meishichina.com/mofang/page/5/">5</a>
<span>...</span>
<a href="http://www.meishichina.com/mofang/page/2/">下一页</a>
</div>
</div>
</div>
</div>
<div class="w mt10 clear">
<iframe width="100%" height="90" frameborder="0" scrolling="no" src="http://static.meishichina.com/v3/t1_1.html"></iframe>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>

<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/all.js?v=20161025"></script>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/app/mofang/all2.js"></script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<include file='public.footer'/>
 </body>
</html>
