<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>日志_美食博客_美食原创博客-美食天下</title>
<meta name="keywords" content="日志,美食文章,美食博客,美食原创博客" />
<meta name="description" content="美食天下携千万美食家，为您打造专业权威的美食信息文章，美食日志大全，是您了解美食信息的最佳渠道。" />
<meta name="renderer" content="webkit">
<link rel="apple-touch-icon" href="http://static.meishichina.com/v6/img/lib/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="http://static.meishichina.com/v6/css/app/blog/all2.css?a=2016-08-04">
<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/dfp-list-5.js"></script>
</head>
<body>
<include file='public/header'/>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="http://www.meishichina.com/" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="http://home.meishichina.com/" title="社区">社区</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a href="http://home.meishichina.com/" title="社区广场">社区广场<i></i><b></b></a>
<a href="http://home.meishichina.com/pai.html" title="话题">话题<i></i><b></b></a>
<a class="on" href="http://home.meishichina.com/blog/" title="日志">日志<i></i><b></b></a>
<a href="http://home.meishichina.com/event/" title="活动">活动<i></i><b></b></a>
</div>
</div>
<div class="w nav_wrap2">
<ul>
<li><a class="on" href="http://home.meishichina.com/blog/">精华日志</a></li>
<li><a href="http://home.meishichina.com/blog/all/">最新日志</a></li>
</ul>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
<div class="ui_newlist_1 list_blog get_num" id="J_list">
<ul>
<li data-id="975605">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-8819358-do-blog-id-975605.html" title="瘦肉灼菜心">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147807953199713.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-8819358-do-blog-id-975605.html" title="瘦肉灼菜心">瘦肉灼菜心</a><span class="essence"></span>
</h2>
<p class="subline">1小时前</p>
<p class="subcontent">瘦肉灼菜心 又是菜心上市季，菜心可是广东特产。品质柔嫩、味甘苦，营养丰富。白灼菜心吃得多了，喜欢</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975602">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-6941259-do-blog-id-975602.html" title="培根蒸金针菇">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147807473627713.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-6941259-do-blog-id-975602.html" title="培根蒸金针菇">培根蒸金针菇</a><span class="essence"></span>
</h2>
<p class="subline">3小时前</p>
<p class="subcontent">金针菇，菌盖滑嫩、柄脆、营养丰富、味美适口，无论是凉拌还是煎炒，都很受欢迎。其中的赖氨酸含量特别高，</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975601">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-532464-do-blog-id-975601.html" title="一直美下去--皂角米紫薯银耳羹">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147807468690713.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-532464-do-blog-id-975601.html" title="一直美下去--皂角米紫薯银耳羹">一直美下去--皂角米紫薯银耳羹</a><span class="essence"></span>
</h2>
<p class="subline">3小时前</p>
<p class="subcontent">紫色，高贵神秘的颜色，略带忧郁的色彩，让人不忍忘记的颜色，在中国传统里，紫色是尊贵的颜色，，比如“紫</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975591">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-8843388-do-blog-id-975591.html" title="莲蓉花生铜锣烧（无泡打粉）">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147806491960413.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-8843388-do-blog-id-975591.html" title="莲蓉花生铜锣烧（无泡打粉）">莲蓉花生铜锣烧（无泡打粉）</a><span class="essence"></span>
</h2>
<p class="subline">7小时前</p>
<p class="subcontent">铜锣烧，又称黄金饼，相传是日本江户时代，将军武士以军中的铜锣相赠恩人，恩人家贫，用铜锣当平底锅煎烤点</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975587">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975587.html" title="蒜油鲭鱼">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147805505655413.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975587.html" title="蒜油鲭鱼">蒜油鲭鱼</a><span class="essence"></span>
</h2>
<p class="subline">8小时前</p>
<p class="subcontent">蒜油鲭鱼蒜油鲭鱼鲭鱼，有的也叫青鱼，还有的叫它“大沙丁鱼”。鲭鱼是海鱼的一种，有一层小刺，烹制之后的</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975585">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975585.html" title="桃酥">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147805292172913.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975585.html" title="桃酥">桃酥</a><span class="essence"></span>
</h2>
<p class="subline">9小时前</p>
<p class="subcontent">桃酥桃酥 桃酥，又名桃花酥，是一种传统的中式点心，特点是干、酥、脆、甜，主要成分是面粉、鸡蛋、油等，是</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975584">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975584.html" title="糖醋白菜帮">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147805287935013.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975584.html" title="糖醋白菜帮">糖醋白菜帮</a><span class="essence"></span>
</h2>
<p class="subline">9小时前</p>
<p class="subcontent">糖醋白菜帮糖醋白菜帮家里买了一颗白菜，看着几块白菜帮扔了有点可惜，于是就做了这道家常菜，取名叫“糖醋</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975583">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975583.html" title="碎碎香">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147805210232613.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-285245-do-blog-id-975583.html" title="碎碎香">碎碎香</a><span class="essence"></span>
</h2>
<p class="subline">9小时前</p>
<p class="subcontent">碎碎香碎碎香“碎碎香”的主料是花生米，把花生米用微波炉或者烤箱烤熟，然后捣碎。再配以辣椒碎和花椒、芝</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975577">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975577.html" title="花鱼儿家的吃吃~~~~~~甜酒酿全蛋蛋挞">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/02/20161102147805042585913.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975577.html" title="花鱼儿家的吃吃~~~~~~甜酒酿全蛋蛋挞">花鱼儿家的吃吃~~~~~~甜酒酿全蛋蛋挞</a><span class="essence"></span>
</h2>
<p class="subline">11小时前</p>
<p class="subcontent">食材：蛋挞皮9个、鸡蛋2只、甜酒酿75克、牛奶80克、绵白糖10克、炼乳、低筋面粉5克做法：（1）将鸡蛋用电动</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
<li data-id="975575">
<div class="pic">
<a target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975575.html" title="花鱼儿家的家常小菜~~~~~~平菇青菜鸡腿汤">
<img width="180" height="135" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/11/01/20161101147800125323713.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975575.html" title="花鱼儿家的家常小菜~~~~~~平菇青菜鸡腿汤">花鱼儿家的家常小菜~~~~~~平菇青菜鸡腿汤</a><span class="essence"></span>
</h2>
<p class="subline">24小时前</p>
<p class="subcontent">食材：鸡腿（已清洗焯水）、青菜（已洗净）、平菇（已清洗）调料：料酒、盐做法：（1）将已焯好的鸡腿下入高</p>
<div class="substatus clear">
<span class="get_nums"></span>
</div>
</div>
</li>
</ul>
</div>
<div class="ui-page mt10">
<div class="ui-page-inner">
<a class='now_page'>1</a>
<a href="http://home.meishichina.com/blog/page/2/">2</a>
<a href="http://home.meishichina.com/blog/page/3/">3</a>
<a href="http://home.meishichina.com/blog/page/4/">4</a>
<a href="http://home.meishichina.com/blog/page/5/">5</a>
<span>...</span>
<a href="http://home.meishichina.com/blog/page/2/">下一页</a>
</div>
</div>
<div class="mt20 clear">
<div id='div-gpt-ad-1415071902366-0' style='width:300px; height:250px;float:left;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-0'); });
</script>
</div>
<div id='div-gpt-ad-1415071902366-1' style='width:300px; height:250px;float:right'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-1'); });
</script>
</div>
</div>
</div>
<div class="space_right">
<div id='div-gpt-ad-1415071902366-2' style='width:300px; height:250px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-2'); });
</script>
</div>
<div class="ui_title mt20 clear">
<div class="ui_title_wrap">
<h3 class="on">推荐专题</h3>
<a href="http://home.meishichina.com/event.html" class="right" target="_blank">有奖活动</a>
<a href="http://www.meishichina.com/mofang/" class="right" target="_blank">美食专题</a>
</div>
</div>
<div class="sPic2List6 clear">
<div class="Pic"><a href="http://home.meishichina.com/recipe/zizhishicai/" title="涨姿势：这些都能自己做！" target="_blank"><img width="120" height="90" border="0" src="http://static.meishichina.com/2014/10/20141010600007.jpg"></a> <a href="http://home.meishichina.com/topic-717.html" title="简单西餐 百变意面" target="_blank"><img width="120" height="90" border="0" src="http://static.meishichina.com/2014/10/20141010600006.jpg"></a></div>
<ul>
<li><a href="http://www.meishichina.com/YuanLiao/QiuKui/" title="秋葵的做法大全" target="_blank">我们都是秋葵控</a></li>
<li><a href="http://home.meishichina.com/topic-493.html" title="暖身滋补汤" target="_blank">28款暖身滋补汤</a></li>
<li><a href="http://home.meishichina.com/topic-238.html" title="月经来了该吃什么" target="_blank">"大姨妈"驾到 啥招待</a></li>
<li><a href="http://home.meishichina.com/topic-262.html" title="雾霾天气必备清肺食谱" target="_blank">雾霾必备：清肺食谱</a></li>
<li><a href="http://home.meishichina.com/topic-264.html" title="春节饮食健康" target="_blank">假日饮食健康必读</a></li>
<li><a href="http://home.meishichina.com/topic-480.html" title="换季食疗抗感冒" target="_blank">换季食疗抗感冒</a></li>
</ul>
</div>
<div id='div-gpt-ad-1415071902366-3' style='width:300px; height:250px;margin-top:20px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-3'); });
</script>
</div>
<div class="ui_title mt20 clear">
<div class="ui_title_wrap">
<h3 class="on" style="margin:0">菜谱大全</h3>
<a href="http://home.meishichina.com/recipe-menu.html" class="right" target="_blank">家常菜</a>
<a href="http://home.meishichina.com/recipe-type.html" class="right" target="_blank">菜谱分类</a>
</div>
</div>
<div class="sPic2 clear">
<ul>
<li><a href="http://home.meishichina.com/topic-416.html" title="上班族快速营养早餐" target="_blank"><img width="140" height="105" border="0" src="http://static.meishichina.com/2014/10/20141010600004.jpg"></a></li>
<li class="spic2r"><a href="http://home.meishichina.com/recipe/ertong/" title="儿童菜谱" target="_blank"><img width="140" height="105" border="0" src="http://static.meishichina.com/2014/10/20141010600005.jpg"></a></li>
<li><a href="http://home.meishichina.com/topic-736.html" title="秋天吃什么好" target="_blank"><img width="140" height="105" border="0" src="http://static.meishichina.com/2014/10/20141010600003.jpg"></a></li>
<li class="spic2r"><a href="http://hongbei.meishichina.com/" title="史上最强的烘焙做法大全" target="_blank"><img width="140" height="105" border="0" src="http://static.meishichina.com/2014/10/20141010600002.jpg"></a></li>
</ul>
</div>
<div class="sList4 clear">
<ul>
<li><a href="http://home.meishichina.com/recipe-list.html" title="最新菜谱" target="_blank">最新菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/recai/" title="热菜菜谱" target="_blank">热菜菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/liangcai/" title="凉菜菜谱" target="_blank">凉菜菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/tanggeng/" title="汤羹菜谱" target="_blank">汤羹菜谱</a></li>
<li><a href="http://home.meishichina.com/recipe/zhushi/" title="主食的做法" target="_blank">主食做法</a></li>
<li><a href="http://home.meishichina.com/recipe/xiaochi/" title="小吃的做法大全" target="_blank">小吃大全</a></li>
<li><a href="http://home.meishichina.com/recipe/jiangpaoyancai/" title="泡酱腌菜的做法" target="_blank">泡酱腌菜</a></li>
<li><a href="http://home.meishichina.com/recipe/nianyefan/" title="年夜饭的做法大全" target="_blank">年夜饭</a></li>
<li><a href="http://www.meishichina.com/mofang/hongshaorou/" title="红烧肉的做法" target="_blank">红烧肉</a></li>
<li><a href="http://www.meishichina.com/mofang/yuxiangrousi/" title="鱼香肉丝的做法" target="_blank">鱼香肉丝</a></li>
<li><a href="http://www.meishichina.com/mofang/kelejichi/" title="可乐鸡翅的做法" target="_blank">可乐鸡翅</a></li>
<li><a href="http://www.meishichina.com/mofang/tangcupaigu/" title="糖醋排骨的做法" target="_blank">糖醋排骨</a></li>
<li><a href="http://www.meishichina.com/mofang/hongshaoqiezi/" title="红烧茄子的做法" target="_blank">红烧茄子</a></li>
<li><a href="http://www.meishichina.com/mofang/hongshaopaigu/" title="红烧排骨的做法" target="_blank">红烧排骨</a></li>
<li><a href="http://www.meishichina.com/mofang/gongbaojiding/" title="宫保鸡丁的做法" target="_blank">宫保鸡丁</a></li>
<li><a href="http://www.meishichina.com/mofang/shuizhuroupian/" title="水煮肉片的做法" target="_blank">水煮肉片</a></li>
<li><a href="http://www.meishichina.com/mofang/huiguorou/" title="回锅肉的做法" target="_blank">回锅肉</a></li>
<li><a href="http://www.meishichina.com/mofang/fotiaoqiang/" title="佛跳墙的做法" target="_blank">佛跳墙</a></li>
<li><a href="http://www.meishichina.com/mofang/shuizhuyu/" title="水煮鱼的做法" target="_blank">水煮鱼</a></li>
<li><a href="http://www.meishichina.com/mofang/shousi/" title="寿司的做法" target="_blank">寿司</a></li>
</ul>
</div>
<div id="smnbk" class="mt20"></div>
<div class="keyshow" style="background:#fff;width:300px;">
<div id='div-gpt-ad-1415071902366-4' style='width:300px; height:250px;'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1415071902366-4'); });
</script>
</div>
</div>
</div>
</div>
</div>
<div class="w" style="padding:10px 0">
<script type="text/javascript">
    var cpro_psid = "1000010";
    var cpro_pswidth = 990;
    var cpro_psheight = 120;
</script>
<script src="http://su.bdimg.com/static/dspui/js/ue.js" type="text/javascript"></script>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<include file='public/footer'/>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/all.js?v=20161025"></script>
<script type="text/javascript">	
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();
//搜索
$(".search_Text").click(function(){var f=$(this).attr("data-first");if(f=="on"){$(this).val("");$(this).attr("data-first","off")}$(this).removeClass("gay")});$("#search").click(function(){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}$("#form_search").submit()});$("#q").keydown(function(event){if(event.keyCode==13){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}}});

	$(window).scroll(function() {
		var omng = $(".keyshow").eq(0).offset();
		var jtl = $("#smnbk").offset();
		if (omng.top < $(document).scrollTop() + 40) {
			$(".keyshow").css({
				position: "fixed",
				top: 40,
				margin: 0,
				left: omng.left
			});
		} else if (omng.top < jtl.top + 10) {
			$(".keyshow").css({
				position: "static",
				margin: "20px 0 0 0"
			});
		}
	});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
