<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>美食家_美食爱好者的家园_吃货俱乐部-美食天下</title>
<meta name="keywords" content="美食家,美食博客,美食空间,美食社区,吃货,吃货俱乐部,美食俱乐部" />
<meta name="description" content="汇聚千万美食爱好者的原创社区，创建属于自己的美食博客与个人空间。菜谱、日志、随拍，一起玩的吃货俱乐部！" />
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/space.css?a=2016-07-31">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/network2.css?a=2016-07-31">
</head>
<body>
<include file='public.header'/>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="{:U('Home/Index/index')}" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="http://home.meishichina.com/" title="社区">社区</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a class="on" href="http://home.meishichina.com/" title="社区广场">社区广场<i></i><b></b></a>
<a href="http://home.meishichina.com/pai.html" title="话题">话题<i></i><b></b></a>
<a href="http://home.meishichina.com/blog/" title="日志">日志<i></i><b></b></a>
<a href="http://home.meishichina.com/event/" title="活动">活动<i></i><b></b></a>
</div>
</div>
<div class="nav_wrap2">
<ul>
<li><a title="广场" href="http://home.meishichina.com/" target="_blank" class="on">广场</a></li>
<li><a title="热门话题" href="http://home.meishichina.com/pai-hot.html" target="_blank">热门话题</a></li>
<li><a title="精华话题" href="http://home.meishichina.com/pai-elite.html" target="_blank">精华话题</a></li>
<li><a title="精华日志" href="http://home.meishichina.com/blog/" target="_blank">精华日志</a></li>
<li><a title="免费抽奖" href="http://home.meishichina.com/event/lottery/" target="_blank">免费抽奖</a></li>
</ul>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
<div class="mof_slider mt20">
<div id="slider">
<ul>
<li>
<a class="sl_apic" title="花鱼儿家的家常小菜~~~~~~螃蟹煮蒲瓜" target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975374.html">
<img width=320 height=240 class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/10/26/20161026147749063052413.jpg">
</a>
<a class="sl_at" title="花鱼儿家的家常小菜~~~~~~螃蟹煮蒲瓜" target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975374.html">螃蟹煮蒲瓜</a>
<a title="花鱼儿" href="http://home.meishichina.com/space-404188.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/000/40/41/88_avatar_small.jpg?v=20161102" src="http://i3.meishichina.com/data/avatar/000/40/41/88_avatar_small.jpg?v=20161102" class="imgLoad" width="28" />花鱼儿</a>
<p class="sl_p">食材：蒲瓜（已去皮清洗切开）、螃蟹（已清洗）调料：料酒、盐做法：（1）将已清洗好的...</p>
</li>
<li>
<a class="sl_apic" title="黑糯米红枣粥" target="_blank" href="http://home.meishichina.com/space-20449-do-blog-id-975375.html">
<img width=320 height=240 class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/10/27/20161027147753189874113.jpg">
</a>
<a class="sl_at" title="黑糯米红枣粥" target="_blank" href="http://home.meishichina.com/space-20449-do-blog-id-975375.html">黑糯米红枣粥</a>
<a title="rosejyy2000" href="http://home.meishichina.com/space-20449.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/000/02/04/49_avatar_small.jpg?v=20161102" src="http://i3.meishichina.com/data/avatar/000/02/04/49_avatar_small.jpg?v=20161102" class="imgLoad" width="28" />rosejyy2000</a>
<p class="sl_p">在国内买了两包黑糯米，不辞劳苦地背回了美国的家，感觉自己真是个吃货。秋天早已到来...</p>
</li>
<li>
<a class="sl_apic" title="花鱼儿家的家常小菜~~~~~~黄花菜烤麸烧萝卜" target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975377.html">
<img width=320 height=240 class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/10/27/20161027147753198533413.jpg">
</a>
<a class="sl_at" title="花鱼儿家的家常小菜~~~~~~黄花菜烤麸烧萝卜" target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975377.html">黄花菜烤麸烧萝卜</a>
<a title="花鱼儿" href="http://home.meishichina.com/space-404188.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/000/40/41/88_avatar_small.jpg?v=20161102" src="http://i3.meishichina.com/data/avatar/000/40/41/88_avatar_small.jpg?v=20161102" class="imgLoad" width="28" />花鱼儿</a>
<p class="sl_p">食材：萝卜（已清洗切块）、烤麸、黄花菜（已泡发清洗）、干辣椒、桂皮、大料调料：生...</p>
</li>
<li>
<a class="sl_apic" title="萝卜烧牛腩" target="_blank" href="http://home.meishichina.com/space-48316-do-blog-id-975379.html">
<img width=320 height=240 class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/10/27/20161027147753314420413.jpg">
</a>
<a class="sl_at" title="萝卜烧牛腩" target="_blank" href="http://home.meishichina.com/space-48316-do-blog-id-975379.html">萝卜烧牛腩</a>
<a title="君梦深蓝" href="http://home.meishichina.com/space-48316.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/000/04/83/16_avatar_small.jpg?v=20161102" src="http://i3.meishichina.com/data/avatar/000/04/83/16_avatar_small.jpg?v=20161102" class="imgLoad" width="28" />君梦深蓝</a>
<p class="sl_p">天凉了嘴馋了，想吃肉！清淡了一夏的餐桌开始频频出现重量级大肉菜，汤煲的上桌率也在...</p>
</li>
<li>
<a class="sl_apic" title="花鱼儿家的家常小菜~~~~~~辣味鸭血豆腐羹" target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975381.html">
<img width=320 height=240 class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/10/27/20161027147753468152013.jpg">
</a>
<a class="sl_at" title="花鱼儿家的家常小菜~~~~~~辣味鸭血豆腐羹" target="_blank" href="http://home.meishichina.com/space-404188-do-blog-id-975381.html">辣味鸭血豆腐羹</a>
<a title="花鱼儿" href="http://home.meishichina.com/space-404188.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/000/40/41/88_avatar_small.jpg?v=20161102" src="http://i3.meishichina.com/data/avatar/000/40/41/88_avatar_small.jpg?v=20161102" class="imgLoad" width="28" />花鱼儿</a>
<p class="sl_p">食材：豆腐、鸭血（已切）、水淀粉、香葱调料：韩式辣椒酱、盐、味精做法：（1）将豆腐...</p>
</li>
<li>
<a class="sl_apic" title="超级下饭菜【外婆菜烧鲫鱼】" target="_blank" href="http://home.meishichina.com/space-6909590-do-blog-id-975382.html">
<img width=320 height=240 class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/blog/2016/10/27/20161027147753475723113.jpg">
</a>
<a class="sl_at" title="超级下饭菜【外婆菜烧鲫鱼】" target="_blank" href="http://home.meishichina.com/space-6909590-do-blog-id-975382.html">外婆菜烧鲫鱼</a>
<a title="舍得的美食诱惑" href="http://home.meishichina.com/space-6909590.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/006/90/95/90_avatar_small.jpg?v=20161102" src="http://i3.meishichina.com/data/avatar/006/90/95/90_avatar_small.jpg?v=20161102" class="imgLoad" width="28" />舍得的美食诱惑</a>
<p class="sl_p">1．鲫鱼所含的蛋白质质优、齐全、易于消化吸收，是肝肾疾病，心脑血管疾病患者的良好蛋...</p>
</li>
</ul> </ul>
</div>
</div>
<div class="ui_title mt10">
<div class="ui_title_wrap">
<h3 class="on">热门话题</h3>
<a title="话题首页" rel="nofollow" class="right" href="http://home.meishichina.com/pai.html">话题首页</a>
<a title="妈妈派" rel="nofollow" class="right" href="http://home.meishichina.com/pai-mama.html">妈妈派</a>
<a title="厨艺交流" rel="nofollow" class="right" href="http://home.meishichina.com/pai-chuyi.html">厨艺交流</a>
<a title="烘焙圈" rel="nofollow" class="right" href="http://home.meishichina.com/pai-hongbei.html">烘焙圈</a>
<a title="美食随手拍" rel="nofollow" class="right" href="http://home.meishichina.com/pai-meishi.html">美食随手拍</a>
</div>
</div>
<div class="pin_list clear">
<ul>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-9708878.html" target="_blank"><img width="40" height="40" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/data/avatar/009/70/88/78_avatar_middle.jpg?v=20161102"></a>
<div>
<a href="http://home.meishichina.com/space-9708878.html" class="t" target="_blank">Mon姐</a>
<span>6小时前</span>
</div>
</div>
<div class="c clear">
<div class="pp"><a href="http://home.meishichina.com/pai-724745.html" target="_blank"><strong>Mon红薯脆酥</strong><br>悠闲自得下午茶…（早餐剩余红薯制作）。</a></div>
<a class="clear" href="http://home.meishichina.com/pai-724745.html" target="_blank">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102123755601.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/201611021237589.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102123804465.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102123808511.jpg@!c180">
</a>
<span>19个喜欢，14条评论</span>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-8643489.html" target="_blank"><img width="40" height="40" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/data/avatar/008/64/34/89_avatar_middle.jpg?v=20161102"></a>
<div>
<a href="http://home.meishichina.com/space-8643489.html" class="t" target="_blank">黑猫警长kitchen</a>
<span>7小时前</span>
</div>
</div>
<div class="c clear">
<div class="pp"><a href="http://home.meishichina.com/pai-724726.html" target="_blank">#ACA魔法立方料理大赛，我的立方料理，造型独特更立体#落枕、👓被妞昨晚不小心压断了😓香菇、难受，早起眯着眼睛......</a></div>
<a class="clear" href="http://home.meishichina.com/pai-724726.html" target="_blank">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102113100888.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102113104818.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102113114690.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102113116856.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102113119698.jpg@!c180">
</a>
<span>18个喜欢，16条评论</span>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-6673714.html" target="_blank"><img width="40" height="40" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/data/avatar/006/67/37/14_avatar_middle.jpg?v=20161102"></a>
<div>
<a href="http://home.meishichina.com/space-6673714.html" class="t" target="_blank">祯祯宝贝</a>
<span>7小时前</span>
</div>
</div>
<div class="c clear">
<div class="pp"><a href="http://home.meishichina.com/pai-724721.html" target="_blank">处理好与人的关系，就是：看人长处、容人短处、帮人难处、记人好处 。人最大的修养，是知人不评人！上午好☀️</a></div>
<a class="clear" href="http://home.meishichina.com/pai-724721.html" target="_blank">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/2016110211273325.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112739625.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112744940.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112749294.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/2016110211280113.jpg@!c180">
<b>6</b></a>
<span>16个喜欢，16条评论</span>
</div>
</li>
<li>
<div class="u">
<a href="http://home.meishichina.com/space-7766447.html" target="_blank"><img width="40" height="40" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/data/avatar/007/76/64/47_avatar_middle.jpg?v=20161102"></a>
<div>
<a href="http://home.meishichina.com/space-7766447.html" class="t" target="_blank">陈潴潴</a>
<span>7小时前</span>
</div>
</div>
<div class="c clear">
<div class="pp"><i>精</i><a href="http://home.meishichina.com/pai-724719.html" target="_blank">#ACA魔法立方料理大赛，我的立方型料理，造型独特更立体#
早餐记录…
这个点发早餐，除了我之外还有谁吗？😂😂......</a></div>
<a class="clear" href="http://home.meishichina.com/pai-724719.html" target="_blank">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112643789.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112646817.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112649170.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/2016110211265293.jpg@!c180">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/pai/2016/11/02/20161102112656175.jpg@!c180">
<b>6</b></a>
<span>17个喜欢，11条评论</span>
</div>
</li>
</ul>
</div>
<div class="ui_title mt10">
<div class="ui_title_wrap">
<h3 class="on">此时此刻</h3>
</div>
</div>
<div id="J_list">
<div class="ui_list_5" id="J_feed_wrap">
<ul id="J_feed_list"></ul>
</div>
<div class="ui-loading mt20" id="J_feed_load">
<a target="_blank" href="#" class="on">查看更多动态</a>
</div>
</div>
</div>
<div class="space_right">
<div class="ui_title mt10">
<div class="ui_title_wrap">
<h3 class="on">正在进行的活动</h3>
</div>
</div>
<div class="mt10">
<a href="http://home.meishichina.com/event-354.html" target="_blank" title="魔法立方料理，造型大赛">
<img width=300 src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/10/26/20161026103820397356326.jpg" class="imgLoad" />
</a>
</div>
<div class="zhen_r_list clear mt10">
<ul>
<li>
<a title="北美电器（ACA）AHM-P125A 手持打蛋器（白色）" href="http://zhen.meishichina.com/2605/lottery/" target="_blank" class="pic">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/shop/2014/08/11/c180_1407765269841.jpg" class="imgLoad">
</a>
<p><a title="北美电器（ACA）AHM-P125A 手持打蛋器（白色）" href="http://zhen.meishichina.com/2605/lottery/" target="_blank">北美电器（ACA）AHM-P125A 手持打蛋器（白色）</a></p>
<p><span>2016年10月31日-11月14日</span></p>
<p><b>￥79.00</b>
<a title="免费抽奖" href="http://zhen.meishichina.com/2605/lottery/" target="_blank" class="do">免费抽奖</a>
</p>
</li>
<li>
<a title="Philips/飞利浦 HD2079豆浆机家用全自动免过滤美美的豆浆机" href="http://zhen.meishichina.com/11407/lottery/" target="_blank" class="pic">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/shop/2016/10/31/c180_201610311477884711576.jpg" class="imgLoad">
</a>
<p><a title="Philips/飞利浦 HD2079豆浆机家用全自动免过滤美美的豆浆机" href="http://zhen.meishichina.com/11407/lottery/" target="_blank">Philips/飞利浦 HD2079豆浆机家用全自动免过滤美美的豆浆机</a></p>
<p><span>2016年10月31日-11月14日</span></p>
<p><b>￥559.00</b>
<a title="免费抽奖" href="http://zhen.meishichina.com/11407/lottery/" target="_blank" class="do">免费抽奖</a>
</p>
</li>
<li>
<a title="ACA/北美电器 AC-M18A咖啡机 " href="http://zhen.meishichina.com/10631/lottery/" target="_blank" class="pic">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/shop/2016/10/10/c180_201610101476081479812.jpg" class="imgLoad">
</a>
<p><a title="ACA/北美电器 AC-M18A咖啡机 " href="http://zhen.meishichina.com/10631/lottery/" target="_blank">ACA/北美电器 AC-M18A咖啡机 </a></p>
<p><span>2016年10月10日-11月10日</span></p>
<p><b>￥980.00</b>
<a title="免费抽奖" href="http://zhen.meishichina.com/10631/lottery/" target="_blank" class="do">免费抽奖</a>
</p>
</li>
</ul>
</div>
<div class="mt20">
<a title="美食天下客户端" href="http://www.meishichina.com/Mobile/" target="_blank">
<script>
document.write('<img width="300" height="600" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/center/r'+Math.floor(Math.random()*5)+'.jpg" class="imgLoad">')
</script>
</a>
</div>
</div>
</div>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/all.js?v=20161025"></script>
<script type="text/javascript">
msc.user.init();msc.goTop.init();$("img.imgLoad").imgLoad();
$(".search_Text").click(function(){var f=$(this).attr("data-first");if(f=="on"){$(this).val("");$(this).attr("data-first","off")}$(this).removeClass("gay")});$("#search").click(function(){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}$("#form_search").submit()});$("#q").keydown(function(event){if(event.keyCode==13){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}}});
</script>
<script src="http://static.meishichina.com/res/web/scripts/slider2.js" type="text/javascript"></script>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/msc-tools-date.js"></script>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/app/center/feed.js"></script>
<script type="text/javascript">
var sudoSlider = $("#slider").sudoSlider({speed: '700',prevHtml:'<a class="prevBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',nextHtml:'<a class="nextBtn" href="javascript:void(0);"><i>&nbsp;</i></a>',continuous: true});

msc.tools.feed.init({data:{type:'all',page:1},render:function(html,data){html=html.replace(/http:\/\/home\.meishichina\.com(\/space\-\d+\.html)/ig,"$1");return'<li>'+html+'</li>'}});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> 
<include file='public.footer'/>
</body>
</html>
