<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>所有活动_美食节活动策划-美食天下</title>
<meta name="keywords" content="所有活动,线上活动,线下活动,免费试用,0元购,抽奖活动,美食节活动策划,美食大奖赛" />
<meta name="description" content="参与美食天下所有活动,赢取积分和礼品,欢迎各类美食活动策划,为生活添色彩。" />
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="__PUBLIC__/Home/images/f.ico"/>
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/active.css">
</head>
<body>
<include file='public/header'/>
<div class="w logo_wrap2">
<div class="logo_inner left">
<a href="{:U('Home/Index/index')}}" title="美食天下">美食天下</a>
</div>
<div class="logo_current left">
<h1><a href="{:U('Home/Shequ/index')}" title="社区">社区</a></h1>
</div>
<div class="logo_search right">
<form id="form_search" action="http://home.meishichina.com/search/" method="post" target="_blank">
<div class="searchBox J_search"><a href="javascript:;" title="搜索" class="search_Btn J_searchBTN right" id="search">搜索</a><input type="text" id="q" class="search_Text J_searchTxt right gay" data-first="on">
</div>
</form>
</div>
<div class="logo_nav">
<a href="http://home.meishichina.com/" title="社区广场">社区广场<i></i><b></b></a>
<a href="http://home.meishichina.com/pai.html" title="话题">话题<i></i><b></b></a>
<a href="http://home.meishichina.com/blog/" title="日志">日志<i></i><b></b></a>
<a class="on" href="http://home.meishichina.com/event/" title="活动">活动<i></i><b></b></a>
</div>
</div>
<div class="w nav_wrap2">
<ul>
<li><a href="http://home.meishichina.com/event/" class=on>全部</a></li>
<li><a href="http://home.meishichina.com/event/online/">线上活动</a></li>
<li><a href="http://home.meishichina.com/event/offline/">线下活动</a></li>
<li><a href="http://home.meishichina.com/event/trial/">免费试用</a></li>
<li><a href="http://home.meishichina.com/event/lottery/">免费抽奖</a></li>
</ul>
</div>
<div class="w mt10 clear">
<iframe width="100%" height="90" frameborder="0" scrolling="no" src="http://static.meishichina.com/v3/t1_1.html"></iframe>
</div>
<div class="wrap">
<div class="w clear">
<div class="space_left">
<div class="ui_newlist_1 mt10 clear">
<ul>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-354.html" target="_blank" title="魔法立方料理，造型大赛">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/10/26/c180_20161026103820397356326.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-354.html" target="_blank" title="魔法立方料理，造型大赛">
<span>[话题征集]</span> 魔法立方料理，造型大赛
</a>
</h2>
<p class="subline">2016年10月18日-2016年11月11日</p>
<p class="subcontent">舌尖上的美味，千百年来一直是人们追求的重点。从远古时期的吃生肉，再到偶遇雷雨天气吃上焦烤肉，我们的祖先学会了用火烤食物。而今21世纪的我们，对美味的追求已不止停留在火煮，而是色香味...</p>
<a href="http://home.meishichina.com/event-354.html" target="_blank" title="魔法立方料理，造型大赛" class="do_luck">
活动正在进行
</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/" target="_blank" title="柏翠烘焙大赛－【四城联动】主题赛">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/10/24/c180_20161024111551520522258.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/" target="_blank" title="柏翠烘焙大赛－【四城联动】主题赛">
<span>[菜谱征集]</span> 柏翠烘焙大赛－【四城联动】主题赛
</a>
</h2>
<p class="subline">2016年10月27日-2016年11月01日</p>
<p class="subcontent">【柏翠第六届烘焙大赛主题赛邀请函】恭喜晋级到主题赛的选手，没有晋级的美食家们可继续关注美天的其他活动。主题赛需要四个赛区分别以“爱在四季”中的一个季节，做为主题进行创作，并在直播平...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/minisite/bocui2016/" target="_blank" title="柏翠“模样生活，为爱起烘”海选赛">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/09/30/c180_20160930165729860998798.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/minisite/bocui2016/" target="_blank" title="柏翠“模样生活，为爱起烘”海选赛">
<span>[菜谱征集]</span> 柏翠“模样生活，为爱起烘”海选赛
</a>
</h2>
<p class="subline">2016年10月09日-2016年10月23日</p>
<p class="subcontent">柏翠“模样生活，为爱起烘”海选赛【柏翠第六届烘焙大赛邀请函】柏翠第六届烘焙大赛开赛啦！10月9日全面上线！赶快提前准备你的烘焙作品吧，万元现金大奖等你拿！（海选赛作品要求不限，只要...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-348.html" target="_blank" title="吃喝玩乐——玩转十一小长假">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/09/19/c180_20160919162915138060632.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-348.html" target="_blank" title="吃喝玩乐——玩转十一小长假">
<span>[话题征集]</span> 吃喝玩乐——玩转十一小长假
</a>
</h2>
<p class="subline">2016年9月19日-2016年10月12日</p>
<p class="subcontent">在秋意日渐弥漫的纵深中，“十一”小长假的脚步越来越近了。在这个难得的小长假，我们可以尽情的放松自己，好好享受生活的惬意。亲们都是怎样度过的呢？
是放下平日的束缚，全家来一次温馨又...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-347.html" target="_blank" title="久久中秋情">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/09/05/c180_20160905152307338963526.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-347.html" target="_blank" title="久久中秋情">
<span>[话题征集]</span> 久久中秋情
</a>
</h2>
<p class="subline">2016年9月06日-2016年9月19日</p>
<p class="subcontent">以前对于国人来说，除了春节，中秋节是一年中最为重要的节日，一家人团团圆圆坐在一起吃月饼赏月。在物质丰富的今天，大家把中秋节过的更加形式化了，含有大量糖类和脂肪的月饼也显得暗淡了许多...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-346.html" target="_blank" title="秋季养生小常识">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/08/29/c180_20160829181030561156981.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-346.html" target="_blank" title="秋季养生小常识">
<span>[话题征集]</span> 秋季养生小常识
</a>
</h2>
<p class="subline">2016年8月29日-2016年9月11日</p>
<p class="subcontent">俗话说：“一夏无病三分虚”，立秋过后气温逐渐由升温转成降温，气候虽然早晚凉爽，但人极易倦怠、乏力等。根据中医“春夏养阳，秋冬养阴”的原则，此时进补十分合适。
秋季养生保健必须遵循...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-344.html" target="_blank" title="新良烘焙大赛美天分赛区">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/08/30/c180_20160830160658826194610.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-344.html" target="_blank" title="新良烘焙大赛美天分赛区">
<span>[菜谱征集]</span> 新良烘焙大赛美天分赛区
</a>
</h2>
<p class="subline">2016年8月30日-2016年9月08日</p>
<p class="subcontent">烘焙的终极意义在于获得爱与幸福，每一道烘焙手作都记录着指尖温度和柔软心事，又是一年中秋佳节，关于“爱与团圆”，期待你用独家味道表达心意。此次比赛为新良集团主办的“新良烘焙大赛总决赛...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/minisite/xinlianghongbei2016/" target="_blank" title="新良烘焙大赛总决赛">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/08/29/c180_20160829120236227732544.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/minisite/xinlianghongbei2016/" target="_blank" title="新良烘焙大赛总决赛">
<span>[菜谱征集]</span> 新良烘焙大赛总决赛
</a>
</h2>
<p class="subline">2016年8月30日-2016年9月08日</p>
<p class="subcontent">决赛主题为“爱与团圆”。烘焙的终极意义在于获得爱与幸福，每一道烘焙手作都记录着指尖温度和柔软心事，又是一年中秋佳节，关于爱与团圆，期待你用独家味道表达心意。</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-342.html" target="_blank" title="我家的厨房小窍门">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/08/15/c180_20160815163216916025464.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-342.html" target="_blank" title="我家的厨房小窍门">
<span>[话题征集]</span> 我家的厨房小窍门
</a>
</h2>
<p class="subline">2016年8月16日-2016年8月31日</p>
<p class="subcontent">想要吃得健康，食材新鲜只是第一步，烹饪技巧才是最重要的一环，一道好的料理，色香味形俱佳，不但让人在食用时感到满足，而且食物中的营养也更容易被人体所吸收。
那么在日常生活中，厨房里...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
<li>
<div class="pic">
<a href="http://home.meishichina.com/event-340.html" target="_blank" title="新LOGO新玩法 发现生活中的“美食天下·红”">
<img width="180" height="180" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/event/2016/07/27/c180_2016072714180279466733.jpg" class="imgLoad">
</a>
</div>
<div class="detail">
<h2>
<a href="http://home.meishichina.com/event-340.html" target="_blank" title="新LOGO新玩法 发现生活中的“美食天下·红”">
<span>[话题征集]</span> 新LOGO新玩法 发现生活中的“美食天下·红”
</a>
</h2>
<p class="subline">2016年7月27日-2016年8月28日</p>
<p class="subcontent">美食天下，我们换LOGO啦！
虽然不舍用了12年的，那个刻在编号为“乙六三八六”的龙骨背面的“食”字，但我们希望美天给人的感觉，会更加简洁、清新、美好，符合我们的愿景：让吃更美好...</p>
<a href="javascript:void(0);" class="gray">已经结束</a>
</div>
</li>
</ul>
</div>
<div class="ui-page mt10">
<div class="ui-page-inner">
<a class='now_page'>1</a>
<a href="http://home.meishichina.com/event/page/2/">2</a>
<a href="http://home.meishichina.com/event/page/3/">3</a>
<a href="http://home.meishichina.com/event/page/4/">4</a>
<a href="http://home.meishichina.com/event/page/5/">5</a>
<span>...</span>
<a href="http://home.meishichina.com/event/page/11/">11</a>
<a href="http://home.meishichina.com/event/page/2/">下一页</a>
</div>
</div>
</div>
<div class="space_right">
<div class="ui_title mt20">
<div class="ui_title_wrap">
<h3 class="on">免费抽奖</h3>
</div>
</div>
<div class="zhen_r_list clear mt10">
<ul>
<li>
<a target="_blank" href="http://zhen.meishichina.com/2605/lottery/" class="pic">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/shop/2014/08/11/c180_1407765269841.jpg" class="imgLoad">
</a>
<p>
<a target="_blank" href="http://zhen.meishichina.com/2605/lottery/">
北美电器（ACA）AHM-P125A 手持打蛋器（白色）</a></p>
<p><span>2016年10月31日-11月14日</span></p>
<p><b>￥79.00</b>
<a target="_blank" href="http://zhen.meishichina.com/2605/lottery/" class="do">
免费抽奖</a>
</p>
</li>
<li>
<a target="_blank" href="http://zhen.meishichina.com/11407/lottery/" class="pic">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/shop/2016/10/31/c180_201610311477884711576.jpg" class="imgLoad">
</a>
<p>
<a target="_blank" href="http://zhen.meishichina.com/11407/lottery/">
Philips/飞利浦 HD2079豆浆机家用全自动免过滤美美的豆浆机</a></p>
<p><span>2016年10月31日-11月14日</span></p>
<p><b>￥559.00</b>
<a target="_blank" href="http://zhen.meishichina.com/11407/lottery/" class="do">
免费抽奖</a>
</p>
</li>
<li>
<a target="_blank" href="http://zhen.meishichina.com/10631/lottery/" class="pic">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/shop/2016/10/10/c180_201610101476081479812.jpg" class="imgLoad">
</a>
<p>
<a target="_blank" href="http://zhen.meishichina.com/10631/lottery/">
ACA/北美电器 AC-M18A咖啡机 </a></p>
<p><span>2016年10月10日-11月10日</span></p>
<p><b>￥980.00</b>
<a target="_blank" href="http://zhen.meishichina.com/10631/lottery/" class="do">
免费抽奖</a>
</p>
</li>
</ul>
</div>
<div class="mt20">
<a title="美食天下客户端" href="http://www.meishichina.com/Mobile/" target="_blank">
<script>
document.write('<img width="300" height="600" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/center/r'+Math.floor(Math.random()*5)+'.jpg" class="imgLoad">')
</script>
</a>
</div>
</div>
</div>
</div>
<div class="w" style="padding:30px 0 5px 0">
<script type="text/javascript">
    var cpro_psid = "1000010";
    var cpro_pswidth = 990;
    var cpro_psheight = 120;
</script>
<script src="__PUBLIC__/Home/js/ue.js" type="text/javascript"></script>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<script type="text/javascript" src="__PUBLIC__/Home/js/all.js?v=20161025"></script>
<script type="text/javascript">
msc.goTop.init();
msc.user.init();
$("img.imgLoad").imgLoad();
$(".search_Text").click(function(){var f=$(this).attr("data-first");if(f=="on"){$(this).val("");$(this).attr("data-first","off")}$(this).removeClass("gay")});$("#search").click(function(){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}$("#form_search").submit()});$("#q").keydown(function(event){if(event.keyCode==13){if($("#q").val().replace(/\s+/g,"").replace("　","")!=""){$("#form_search").attr("action","http://home.meishichina.com/search/"+$("#q").val()+"/")}}});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<include file='public/footer'/>
</body>
</html>

