<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>第六届柏翠美食烘焙大赛-美食天下</title>
<meta name="keywords" content="第六届柏翠美食烘焙大赛,柏翠大赛,柏翠美食烘焙大赛,柏翠烘焙大赛,烘焙大赛,柏翠,模样生活" />
<meta name="description" content="模样生活，为爱起烘；第六届柏翠美食烘焙大赛。此次比赛分为线上和线下结合的比赛形式，北京、武汉、杭州、广州四城联动，多重实物豪华大奖不断；烘焙名咖、专业评审，烘焙教室老师一对一指导。决赛全程直播，共同见证烘焙王者诞生。" />
<link rel="shortcut icon" href="http://static.meishichina.com/v6/img/lib/f.ico"/>
<link rel="apple-touch-icon" href="http://static.meishichina.com/v6/img/lib/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="http://static.meishichina.com/v6/css/minisite/baicui2016.css?v=2016-10-28">
<style>
body{min-width:1170px;}
</style>
</head>
<body>
<div class="top-bar" id="J_top_bar">
<ul class="bar-left left">
<li><a title="美食天下" href="http://www.meishichina.com/" target="_blank" class="top_bar_logo"><i>美食天下</i>首页</a></li>
<li> <a title="菜谱" href="http://home.meishichina.com/recipe.html" target="_blank">菜谱</a></li>
<li> <a title="食材" href="http://www.meishichina.com/YuanLiao/" target="_blank">食材</a></li>
<li> <a title="珍选" href="http://zhen.meishichina.com/" target="_blank">珍选</a></li>
<li> <a title="健康" href="http://www.meishichina.com/Health/" target="_blank">健康</a></li>
<li> <a title="专题" href="http://www.meishichina.com/mofang/" target="_blank">专题</a></li>
<li> <a title="社区" href="http://home.meishichina.com/" target="_blank">社区</a></li>
<li> <a title="话题" href="http://home.meishichina.com/pai.html" target="_blank">话题</a></li>
<li> <a title="活动" href="http://home.meishichina.com/event/" target="_blank">活动</a></li>
<li> <a title="搜索" href="http://home.meishichina.com/search/" target="_blank">搜索</a></li>
<li class="top_bar_more"><i></i>
<div>
<a title="烘焙" href="http://hongbei.meishichina.com/" target="_blank">烘焙</a>
<a title="妈妈派" href="http://mamapai.meishichina.com/" target="_blank">妈妈派</a>
</div>
</li>
</ul>
<a title="客户端" href="http://www.meishichina.com/Mobile/" target="_blank" class="nr3"><img src="http://static.meishichina.com/v6/img/lib/nr3.png" width=18 height=18>客户端</a>
<div class="right" id="J_top_bar_user"></div>
<img src="http://home.meishichina.com/count.php" style="display:none;">
</div>
<div class="sliderh">
</div>
<div class="bc_nav clear">
<ul>
<li class="on"><a href="http://home.meishichina.com/minisite/bocui2016/" title="大赛简介">大赛简介</a></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/rule/" title="比赛规则">比赛规则</a></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/haixuan_all/" class="a2" title="模样生活 海选赛">模样生活<br><span>(海选赛)</span></a></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/" class="a2" title="四城联动 主题赛">四城联动<br><span>(主题赛)</span></a><i class="hot"></i></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/zongjuesai/" class="a2" title="阵营大PK 总决赛">阵营大PK<br><span>(总决赛)</span></a></li>
<li><a target="_blank" href="http://home.meishichina.com/minisite/bocui2016/moyangshenghuo/" title="模样生活介绍">模样生活介绍</a></li>
</ul>
</div>
<div class="bc_img">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/baicui_03.jpg?v=2" width="1170" height="514" style="margin:70px 0">
</div>
<div class="bc4">
</div>
<div class="bc_img">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/baicui_05.jpg?v=3" width="1170" height="779" style="margin:70px 0">
</div>
<div class="bc6">
</div>
<div class="bc_img">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/baicui_07.jpg" style="margin:80px auto 50px;display:block;">
</div>
<iframe name="list" style="overflow: hidden; margin: auto; display: block;" src="http://home.meishichina.com/minisite.php?ac=bocui2016&op=index_data&view=all" width="1170" height="2111" frameborder="0"></iframe>
<div style="z-index:11;width:140px;height:377px;display: block; position: fixed; right: 5px; bottom: 138px; background:url(http://static.meishichina.com/v6/img/event/baicui2016/xuanfu.png?v=1) no-repeat">
<a href="http://member.meishichina.com/mycenter/recipe-addnew/" style="display:block;width:100%;height:50px;margin:327px 0 0 0;" target="_blank"></a>
</div>
<div style="width:100%;border-top:10px solid #E70012;background:#000;padding:50px 0;margin:80px 0 0">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/baicui_08.jpg?v=1" style="display:block;margin:auto" width=921 height=312>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<div id="J_footer_box" class="footer-area clear">
<div class="w">
<div class="ft1">
<p class="c3b"><a target="_blank" href="http://www.meishichina.com/" title="美食天下 - 让吃更美好">美食天下 - 让吃更美好！</a></p>
<p class="c3c"><a target="_blank" title="菜谱" href="http://home.meishichina.com/recipe.html">菜谱</a> · <a target="_blank" title="食材" href="http://www.meishichina.com/YuanLiao/">食材</a> · <a target="_blank" title="美食魔方" href="http://www.meishichina.com/mofang/">魔方</a> · <a target="_blank" title="联系我们" href="http://www.meishichina.com/Docs/ContactUs/">认识美天</a> · <a target="_blank" title="在美天工作" href="http://home.meishichina.com/mods/job/">在美天工作</a> · <a target="_blank" title="广告与合作" href="http://www.meishichina.com/Docs/Cooperate/">广告与合作</a> · <a target="_blank" title="版权与免责" href="http://www.meishichina.com/Docs/Copyright/">版权与免责</a> · <a target="_blank" title="帮助中心" href="http://home.meishichina.com/help.php">帮助中心</a> · <a target="_blank" title="网站地图" href="http://www.meishichina.com/sitemap.html">网站地图</a> · <a target="_blank" title="移动应用" href="http://www.meishichina.com/Mobile/">移动应用</a></p>
<p>&copy; 2004－2016 美食天下 保留所有权利 - 京ICP证090244号</p>
</div>
<div class="ft4">
<img class="imgLoad" src="http://static.meishichina.com/v6/img/footer/weixin.png" title="微信公众号">微信公众号
</div>
<div class="ft3">
<img class="imgLoad" width="82" src="http://static.meishichina.com/v6/img/model/msc_app.png" title="手机客户端">手机客户端
</div>
</div>
</div>
<script type="text/javascript" src="http://static.meishichina.com/v6/js/lib/all.js?v=20161025"></script>
<script type="text/javascript">
msc.user.init();
$("img.imgLoad").imgLoad();


$(".bc_list").on("click",".f1",function(){
		if($(this).hasClass("on")){
		msc.ui.dialog.error("您已经喜欢过该菜谱");
		return false;
		}
		else if($(this).hasClass("nologin")){
		msc.user.login();
		return false;
		}
		else{
		var that =$(this);
		$.post('/ajax/ajax.php?ac=recipe&op=add_recipe_like', {
id:that.attr('data-id')
}, function(e) {
if (e.error == 0) {
msc.ui.dialog.success("喜欢成功");
that.find("span").html(parseInt(that.find("span").html())+1);
that.addClass("on");
}

else{
msc.ui.dialog.error('出现异常，请重试');
}

},"json");
}
});



</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>