
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>四城联动主题赛半决赛_第六届柏翠美食烘焙大赛-美食天下</title>
<meta name="keywords" content="第六届柏翠美食烘焙大赛主题赛半决赛" />
<meta name="description" content="第六届柏翠美食烘焙大赛半决赛主题赛，北京赛区作品展示。模样生活，为爱起烘；第六届柏翠美食烘焙大赛。此次比赛分为线上和线下结合的比赛形式，北京、武汉、杭州、广州四城联动，多重实物豪华大奖不断；烘焙名咖、专业评审，烘焙教室老师一对一指导。决赛全程直播，共同见证烘焙王者诞生。" />
<link rel="shortcut icon" href="__PUBLIC__/Home/images/f.ico"/>
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/baicui2016.css?v=2016-10-28">
<style>
body{min-width:1170px;}
</style>
</head>
<body>
<include file='public/header'/>
<div class="sliderh">
</div>
<div class="bc_nav clear">
<ul>
<li><a href="http://home.meishichina.com/minisite/bocui2016/" title="大赛简介">大赛简介</a></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/rule/" title="比赛规则">比赛规则</a></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/haixuan_all/" class="a2" title="模样生活 海选赛">模样生活<br><span>(海选赛)</span></a></li>
<li class="on"><a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/" class="a2" title="四城联动 主题赛">四城联动<br><span>(主题赛)</span></a><i class="hot"></i></li>
<li><a href="http://home.meishichina.com/minisite/bocui2016/zongjuesai/" class="a2" title="阵营大PK 总决赛">阵营大PK<br><span>(总决赛)</span></a></li>
<li><a target="_blank" href="http://home.meishichina.com/minisite/bocui2016/moyangshenghuo/" title="模样生活介绍">模样生活介绍</a></li>
</ul>
</div>
<div class="bc_img clear">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/zt_a1.jpg?v=1" width=770 height=162 style="margin:70px auto">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/zt_a2.jpg" width=1172 height=502 style="margin:70px auto">
<a href="http://member.meishichina.com/mycenter/recipe-addnew/" target="_blank">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/zt_a3.jpg" width=1168 height=492 style="margin:70px auto">
</a>
<div style="font-size: 16px; float: left; border-right: 1px dotted rgb(153, 153, 153); width: 610px; padding: 0px 20px 0px 0px;">
<h3 style="font-weight: 700; font-size: 22px; line-height: 100%; padding: 0px 0px 15px;">作品评奖办法</h3>
1、主办方会挑选选手人气最高的两个作品参与评分（面包机烤箱各一个）。<br>
2、各赛区前两名选手，进入【阵营大PK】全国总决赛，角逐万元现金大奖。<br>
评分标准：
<table cellspacing="0" cellpadding="0" border="1" class="b_t">
<tr>
<th>评分细则</th>
<th>所占比重</th>
</tr>
<tr>
<td>作品主与本赛区活动主题契合度</td>
<td style="text-align:center">40分</td>
</tr>
<tr>
<td>作品的综合内容质量度</td>
<td style="text-align:center">30分</td>
</tr>
<tr>
<td>作品的造型搭配创意</td>
<td style="text-align:center">30分</td>
</tr>
</table>
</div>
<div style="font-size: 16px; float: left; width: 500px; padding: 0px 0px 0px 25px;">
<h3 style="font-weight: 700; font-size: 22px; line-height: 100%; padding: 0px 0px 15px;">作品发布规则</h3>
1、进入复赛的选手需根据自己所在赛区的主题，使用柏翠指定<span style="color:#f00">面包机</span>和<span style="color:#f00">烤箱分别创作</span>一个烘焙作品。上传多个作品的以人气最高的 两个为准。<br>
2、上传作品需以#柏翠大赛#为前缀。<br>
3、参赛作品必须原创，转载抄袭无效。<br>
4、作品的上传<span style="color:#f00">截止时间</span>为<span style="color:#f00">11月1日下午2点</span>。
</div>
<p style="clear:both"> </p>
<img src="http://static.meishichina.com/v6/img/event/baicui2016/md.jpg" style="margin:30px auto;">
<div class="huojiang clear">
<ul>
<h3>北京赛区</h3>
<li>
<a target="_blank" title="寻找桃花岛" href="http://home.meishichina.com/space-9199773.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/avatar/2016/08/18/avatar120_1471484819729.jpg" class="imgLoad">
<span>寻找桃花岛</span>
</a>
</li>
<li>
<a target="_blank" title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html">
<img src="http://i3.meishichina.com/attachment/avatar/2015/12/17/avatar120_201512171450350363117.jpg" class="imgLoad">
<span>阳光明媚99</span>
</a>
</li>
</ul>
<ul>
<h3>武汉赛区</h3>
<li>
<a target="_blank" title="丹_0759" href="http://home.meishichina.com/space-9790757.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/avatar/2016/10/20/avatar120_1476943449351.jpg" class="imgLoad">
<span>丹_0759</span>
</a>
</li>
<li>
<a target="_blank" title="鱼眼中的爱" href="http://home.meishichina.com/space-291747.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/data/avatar/000/29/17/47_avatar_middle.jpg" class="imgLoad">
<span>鱼眼中的爱</span>
</a>
</li>
</ul>
<ul>
<h3>杭州赛区</h3>
<li>
<a target="_blank" title="海迪澈" href="http://home.meishichina.com/space-9700071.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/avatar/2016/09/23/avatar120_2016092314746401176389700071.jpg" class="imgLoad">
<span>海迪澈</span>
</a>
</li>
<li>
<a target="_blank" title="刘素" href="http://home.meishichina.com/space-9805777.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/avatar/2016/10/18/avatar120_1476805932961.jpg" class="imgLoad">
<span>刘素</span>
</a>
</li>
</ul>
<ul>
<h3>广州赛区</h3>
<li>
<a target="_blank" title="爱蓝胖子的diao" href="http://home.meishichina.com/space-9693501.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/avatar/2016/09/04/avatar120_1472980972558.jpg" class="imgLoad">
<span>爱蓝胖子的diao</span>
</a>
</li>
<li>
<a target="_blank" title="爱生活的馋猫" href="http://home.meishichina.com/space-9088392.html">
<img src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://i3.meishichina.com/attachment/avatar/2015/12/31/avatar120_1451544286479.jpg" class="imgLoad">
<span>爱生活的馋猫</span>
</a>
</li>
</ul>
</div>
<div id="show" style="clear:both">&nbsp;</div>
<img src="http://static.meishichina.com/v6/img/event/baicui2016/s.jpg" style="margin:70px auto;" width="452" height="45">
</div>
<div class="bc_nav2 clear">
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/#show" class="on">欣赏全部作品</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai_beijing/#show" style="border-left:1px solid #e70012">北京赛区作品</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai_wuhan/#show">武汉赛区作品</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai_hangzhou/#show">杭州赛区作品</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai_guangzhou/#show">广州赛区作品</a>
</div>
<div class="order">
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/#show" class="on"> · 最新</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/like/#show"> · 喜欢</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/comment/#show"> · 评论</a>
</div>
<div class="bc_list">
<ul style="width:1200px">
<li>
<div>
<a title="#柏翠大赛#创意饼干昭君出塞" href="http://home.meishichina.com/recipe-296557.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147797298631613.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="twinsliuliu" href="http://home.meishichina.com/space-8856100.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/85/61/00_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="创意饼干昭君出塞" href="http://home.meishichina.com/recipe-296557.html" target="_blank" class="at">创意饼干昭君出塞</a>
<a title="twinsliuliu" href="http://home.meishichina.com/space-8856100.html" target="_blank" class="au">twinsliuliu</a>
<a data-id="296557" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>33</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠烘焙大赛#雏菊蛋黄酥" href="http://home.meishichina.com/recipe-296539.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147797285234113.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="僖儿2005" href="http://home.meishichina.com/space-8722201.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/72/22/01_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="雏菊蛋黄酥" href="http://home.meishichina.com/recipe-296539.html" target="_blank" class="at">雏菊蛋黄酥</a>
<a title="僖儿2005" href="http://home.meishichina.com/space-8722201.html" target="_blank" class="au">僖儿2005</a>
<a data-id="296539" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>10</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#盛夏的果实~冰淇淋土司" href="http://home.meishichina.com/recipe-296499.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796824184913.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="小黠大痴" href="http://home.meishichina.com/space-8446263.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/44/62/63_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="盛夏的果实~冰淇淋土司" href="http://home.meishichina.com/recipe-296499.html" target="_blank" class="at">盛夏的果实~冰淇淋土司</a>
<a title="小黠大痴" href="http://home.meishichina.com/space-8446263.html" target="_blank" class="au">小黠大痴</a>
<a data-id="296499" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>25</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#抹茶磅蛋糕" href="http://home.meishichina.com/recipe-296537.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796774188713.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="爱生活的馋猫" href="http://home.meishichina.com/space-9088392.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/08/83/92_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="抹茶磅蛋糕" href="http://home.meishichina.com/recipe-296537.html" target="_blank" class="at">抹茶磅蛋糕</a>
<a title="爱生活的馋猫" href="http://home.meishichina.com/space-9088392.html" target="_blank" class="au">爱生活的馋猫</a>
<a data-id="296537" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>48</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="＃柏翠大赛＃巧克力落叶蛋糕" href="http://home.meishichina.com/recipe-296471.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796750386313.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="芋儿1" href="http://home.meishichina.com/space-6248544.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/006/24/85/44_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="巧克力落叶蛋糕" href="http://home.meishichina.com/recipe-296471.html" target="_blank" class="at">巧克力落叶蛋糕</a>
<a title="芋儿1" href="http://home.meishichina.com/space-6248544.html" target="_blank" class="au">芋儿1</a>
<a data-id="296471" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>15</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="＃柏翠大赛＃核桃红糖苹果面包" href="http://home.meishichina.com/recipe-296444.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796822617013.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="芋儿1" href="http://home.meishichina.com/space-6248544.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/006/24/85/44_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="核桃红糖苹果面包" href="http://home.meishichina.com/recipe-296444.html" target="_blank" class="at">核桃红糖苹果面包</a>
<a title="芋儿1" href="http://home.meishichina.com/space-6248544.html" target="_blank" class="au">芋儿1</a>
<a data-id="296444" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>11</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#夏日彩虹" href="http://home.meishichina.com/recipe-296467.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796838619713.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="小黠大痴" href="http://home.meishichina.com/space-8446263.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/44/62/63_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="夏日彩虹" href="http://home.meishichina.com/recipe-296467.html" target="_blank" class="at">夏日彩虹</a>
<a title="小黠大痴" href="http://home.meishichina.com/space-8446263.html" target="_blank" class="au">小黠大痴</a>
<a data-id="296467" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>24</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#瑞雪兆丰年【情景创意饼干】" href="http://home.meishichina.com/recipe-296270.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796804445613.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/62/46/26_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="瑞雪兆丰年【情景创意饼干】" href="http://home.meishichina.com/recipe-296270.html" target="_blank" class="at">瑞雪兆丰年【情景创意饼干】</a>
<a title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html" target="_blank" class="au">阳光明媚99</a>
<a data-id="296270" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>26</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#踏雪寻梅【立体创意饼干】" href="http://home.meishichina.com/recipe-296276.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796801990313.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/62/46/26_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="踏雪寻梅【立体创意饼干】" href="http://home.meishichina.com/recipe-296276.html" target="_blank" class="at">踏雪寻梅【立体创意饼干】</a>
<a title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html" target="_blank" class="au">阳光明媚99</a>
<a data-id="296276" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>24</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#小雪人面包" href="http://home.meishichina.com/recipe-296446.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796780415013.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/62/46/26_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="小雪人面包" href="http://home.meishichina.com/recipe-296446.html" target="_blank" class="at">小雪人面包</a>
<a title="阳光明媚99" href="http://home.meishichina.com/space-8624626.html" target="_blank" class="au">阳光明媚99</a>
<a data-id="296446" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>19</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#提篮春光赏春意——花篮面包" href="http://home.meishichina.com/recipe-296519.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/11/01/20161101147796733596413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="爱蓝胖子的diao" href="http://home.meishichina.com/space-9693501.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/69/35/01_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="提篮春光赏春意—花篮面包" href="http://home.meishichina.com/recipe-296519.html" target="_blank" class="at">提篮春光赏春意—花篮面包</a>
<a title="爱蓝胖子的diao" href="http://home.meishichina.com/space-9693501.html" target="_blank" class="au">爱蓝胖子的diao</a>
<a data-id="296519" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>10</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#夏日激情篇~荷花酥。" href="http://home.meishichina.com/recipe-296356.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147792146661713.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/00/71_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="荷花酥" href="http://home.meishichina.com/recipe-296356.html" target="_blank" class="at">荷花酥</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" target="_blank" class="au">海迪澈</a>
<a data-id="296356" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>15</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#激情夏日篇~花环面包。" href="http://home.meishichina.com/recipe-296325.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147792140819513.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/00/71_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="花环面包" href="http://home.meishichina.com/recipe-296325.html" target="_blank" class="at">花环面包</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" target="_blank" class="au">海迪澈</a>
<a data-id="296325" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>8</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#激情夏日篇~贝果青蛙" href="http://home.meishichina.com/recipe-296320.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147792128640613.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/00/71_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="贝果青蛙" href="http://home.meishichina.com/recipe-296320.html" target="_blank" class="at">贝果青蛙</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" target="_blank" class="au">海迪澈</a>
<a data-id="296320" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>11</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#激情夏日篇~迷你西瓜。" href="http://home.meishichina.com/recipe-296300.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147792113025913.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/00/71_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="迷你西瓜" href="http://home.meishichina.com/recipe-296300.html" target="_blank" class="at">迷你西瓜</a>
<a title="海迪澈" href="http://home.meishichina.com/space-9700071.html" target="_blank" class="au">海迪澈</a>
<a data-id="296300" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>15</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#全麦核桃红枣欧包" href="http://home.meishichina.com/recipe-296329.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147792049586413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="丹_0759" href="http://home.meishichina.com/space-9790757.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/79/07/57_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="全麦核桃红枣欧包" href="http://home.meishichina.com/recipe-296329.html" target="_blank" class="at">全麦核桃红枣欧包</a>
<a title="丹_0759" href="http://home.meishichina.com/space-9790757.html" target="_blank" class="au">丹_0759</a>
<a data-id="296329" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>17</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#冬日儿时的记忆----糖葫芦蛋糕" href="http://home.meishichina.com/recipe-296488.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147791853350913.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="西马栀子" href="http://home.meishichina.com/space-30984.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/000/03/09/84_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="糖葫芦蛋糕" href="http://home.meishichina.com/recipe-296488.html" target="_blank" class="at">糖葫芦蛋糕</a>
<a title="西马栀子" href="http://home.meishichina.com/space-30984.html" target="_blank" class="au">西马栀子</a>
<a data-id="296488" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>16</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="＃柏翠大赛＃绿叶软欧包" href="http://home.meishichina.com/recipe-296433.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147790348077613.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="僖儿2005" href="http://home.meishichina.com/space-8722201.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/72/22/01_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="绿叶软欧包" href="http://home.meishichina.com/recipe-296433.html" target="_blank" class="at">绿叶软欧包</a>
<a title="僖儿2005" href="http://home.meishichina.com/space-8722201.html" target="_blank" class="au">僖儿2005</a>
<a data-id="296433" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>14</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="＃柏翠大赛＃立春拼图饼干" href="http://home.meishichina.com/recipe-296413.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147789953519513.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="僖儿2005" href="http://home.meishichina.com/space-8722201.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/72/22/01_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="立春拼图饼干" href="http://home.meishichina.com/recipe-296413.html" target="_blank" class="at">立春拼图饼干</a>
<a title="僖儿2005" href="http://home.meishichina.com/space-8722201.html" target="_blank" class="au">僖儿2005</a>
<a data-id="296413" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>19</span>喜欢</a>
</div>
</li>
<li>
<div>
<a title="#柏翠大赛#中式点心冬日暖茶知足壶" href="http://home.meishichina.com/recipe-296416.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/10/31/20161031147789977022113.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="270" height="270" />
</a>
<a title="twinsliuliu" href="http://home.meishichina.com/space-8856100.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/85/61/00_avatar_middle.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="70" height="70" />
</a>
</div>
<div class="f">
<a title="中式点心冬日暖茶知足壶" href="http://home.meishichina.com/recipe-296416.html" target="_blank" class="at">中式点心冬日暖茶知足壶</a>
<a title="twinsliuliu" href="http://home.meishichina.com/space-8856100.html" target="_blank" class="au">twinsliuliu</a>
<a data-id="296416" title="喜欢" class="f1  nologin" href="javascript:void(0);"><i></i>&nbsp;<span>37</span>喜欢</a>
</div>
</li>
</ul>
</div>
<div class="ui-page mt10">
<div class="ui-page-inner">
<a class='now_page'>1</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/page/2/#show">2</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/page/3/#show">3</a>
<a href="http://home.meishichina.com/minisite/bocui2016/zhutisai/page/2/#show">下一页</a>
</div>
</div>
<div class="bc_img clear">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/zt_a6.jpg" width=1177 height=719 style="margin:70px auto">
</div>
<div style="width:100%;border-top:10px solid #E70012;background:#000;padding:50px 0;margin:80px 0 0">
<img src="http://static.meishichina.com/v6/img/event/baicui2016/baicui_08.jpg?v=1" style="display:block;margin:auto" width=921 height=312>
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<include file='public/footer'/>
<script type="text/javascript" src="__PUBLIC__/Home/js/all.js?v=20161025"></script>
<script type="text/javascript">
msc.user.init();
$("img.imgLoad").imgLoad();


$(".bc_list").on("click",".f1",function(){
		if($(this).hasClass("on")){
		msc.ui.dialog.error("您已经喜欢过该菜谱");
		return false;
		}
		else if($(this).hasClass("nologin")){
		msc.user.login();
		return false;
		}
		else{
		var that =$(this);
		$.post('/ajax/ajax.php?ac=recipe&op=add_recipe_like', {
id:that.attr('data-id')
}, function(e) {
if (e.error == 0) {
msc.ui.dialog.success("喜欢成功");
that.find("span").html(parseInt(that.find("span").html())+1);
that.addClass("on");
}

else{
msc.ui.dialog.error('出现异常，请重试');
}

},"json");
}
});



</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> </body>
</html>
