
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新良首届烘焙明星大赛总决赛-美食天下</title>
<meta name="renderer" content="webkit">
<meta name="keywords" content="新良首届烘焙明星大赛,烘焙大赛,新良烘焙大赛,新良烘焙明星赛,烘焙大赛,烘焙明星大赛总决赛" />
<meta name="description" content="新良首届烘焙明星大赛总决赛，决赛主题为“爱与团圆”。烘焙的终极意义在于获得爱与幸福，每一道烘焙手作都记录着指尖温度和柔软心事，又是一年中秋佳节，关于爱与团圆，期待你用独家味道表达心意。" />
<link rel="shortcut icon" href="__PUBLIC__/Home/images/f.ico"/>
<link rel="apple-touch-icon" href="__PUBLIC__/Home/images/wapico.png" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/all.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/xinlianghongbei2016.css?v=2016-09-22">
</head>
<body>
<include file='public/header'/>
<div class="sliderh">
<div id="sliderh">
<ul>
<li style="background: url(__PUBLIC__/Home/images/h1.jpg) no-repeat center;">
</li>
<li style="background: url(__PUBLIC__/Home/images/h2.jpg) no-repeat center;">
</li>
</ul>
</div>
</div>
<div class="xl_img">
<img width="990" height="1378" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/event/xl/2_01.jpg">
</div>
<div class="xl_img">
<img width="990" height="1023" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/event/xl/2_02.jpg">
<a style="display:block;position:absolute;left: 350px; top: 44px; width: 276px; height: 42px;" title="暮色影子" target="_blank" href="http://home.meishichina.com/space-552931.html" class="u"></a>
<a title="#新良首届烘培大赛#冰皮月饼~呵护" target="_blank" href="http://home.meishichina.com/recipe-286786.html" style="display:block;position:absolute;top: 117px; left: 182px; width: 606px; height: 360px;"></a>
<a title="亲爱的兔美酱" target="_blank" href="http://home.meishichina.com/space-9699927.html" class="u" style="display:block;position:absolute;height: 42px; top: 593px; left: 152px; width: 308px;"></a>
<a style="display:block;position:absolute;top: 676px; left: 154px; width: 303px; height: 275px;" title="#新良首届烘焙大赛#巧克力柠檬蛋糕" target="_blank" href="http://home.meishichina.com/recipe-286809.html"></a>
<a title="海燕的手艺" target="_blank" href="http://home.meishichina.com/space-7912227.html" class="u" style="display:block;position:absolute;height: 42px; top: 593px; width: 297px; left: 523px;"></a>
<a style="display:block;position:absolute;top: 676px; left:528px; width: 303px; height: 275px;" href="http://home.meishichina.com/recipe-286130.html" target="_blank" title="＃新良首届烘焙大赛＃藜麦.胚芽面包"></a>
</div>
<div class="xl_img">
<img width="990" height="1339" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/event/xl/2_03.jpg">
<ul class="u1">
<li>
<a target="_blank" title="漪弈" href="http://home.meishichina.com/space-6507786.html">
<span>漪弈</span>
</a>
</li>
<li>
<a target="_blank" title="松鼠鱼77" href="http://home.meishichina.com/space-9697836.html">
<span>松鼠鱼77</span>
</a>
</li>
<li>
<a target="_blank" title="麦子老妈" href="http://home.meishichina.com/space-8041796.html">
<span>麦子老妈</span>
</a>
</li>
<li>
<a target="_blank" title="salila82" href="http://home.meishichina.com/space-6867953.html">
<span>salila82</span>
</a>
</li>
<li>
<a target="_blank" title="昕哥妈妈" href="http://home.meishichina.com/space-9699964.html">
<span>昕哥妈妈</span>
</a>
</li>
<li>
<a target="_blank" title="海迪澈" href="http://home.meishichina.com/space-9700071.html">
<span>海迪澈</span>
</a>
</li>
<li>
<a target="_blank" title="情一诺" href="http://home.meishichina.com/space-6941259.html">
<span>情一诺</span>
</a>
</li>
<li>
<a target="_blank" title="yoyo原色" href="http://home.meishichina.com/space-6050546.html">
<span>yoyo原色</span>
</a>
</li>
<li>
<a target="_blank" title="独角戏71" href="http://home.meishichina.com/space-9053899.html">
<span>独角戏71</span>
</a>
</li>
<li>
<a target="_blank" title="爱蓝胖子的diao" href="http://home.meishichina.com/space-9693501.html">
<span>爱蓝胖子的diao</span>
</a>
</li>
</ul>
<ul class="u2">
<li>
<a target="_blank" title="Xiao小C" href="http://home.meishichina.com/space-9696620.html">
<span>Xiao小C</span>
</a>
</li>
<li>
<a target="_blank" title="东营小英子" href="http://home.meishichina.com/space-1467114.html">
<span>东营小英子</span>
</a>
</li>
<li>
<a target="_blank" title="爱美食的志宝妈" href="http://home.meishichina.com/space-7941917.html">
<span>爱美食的志宝妈</span>
</a>
</li>
<li>
<a target="_blank" title="Meggy跳舞的苹果" href="http://home.meishichina.com/space-7513584.html">
<span>Meggy跳舞的苹果</span>
</a>
</li>
<li>
<a target="_blank" title="四叶草gy" href="http://home.meishichina.com/space-9470375.html">
<span>四叶草gy</span>
</a>
</li>
<li>
<a target="_blank" title="雨慧05" href="http://home.meishichina.com/space-9693518.html">
<span>雨慧05</span>
</a>
</li>
<li>
<a target="_blank" title="虎虎cake" href="http://home.meishichina.com/space-9701323.html">
<span>虎虎cake</span>
</a>
</li>
<li>
<a target="_blank" title="友缘_4" href="http://home.meishichina.com/space-9699998.html">
<span>友缘_4</span>
</a>
</li>
<li>
<a target="_blank" title="Marsally4390" href="http://home.meishichina.com/space-8216564.html">
<span>Marsally4390</span>
</a>
</li>
<li>
<a target="_blank" title="飞燕飘舞" href="http://home.meishichina.com/space-620319.html">
<span>飞燕飘舞</span>
</a>
</li>
<li>
<a target="_blank" title="小耳Maggie" href="http://home.meishichina.com/space-7946961.html">
<span>小耳Maggie</span>
</a>
</li>
<li>
<a target="_blank" title="秋天的蝎子" href="http://home.meishichina.com/space-8851180.html">
<span>秋天的蝎子</span>
</a>
</li>
</ul>
</div>
<div class="xl_img">
<img width="990" height="979" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/event/xl/2_04.jpg">
<ul class="u3">
<li>
<a href="http://home.meishichina.com/space-9690290.html" title="晚风21566" target="_blank">
<span>晚风21566</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-7775169.html" title="乖宝璐璐" target="_blank">
<span>乖宝璐璐</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9207981.html" title="童尐果" target="_blank">
<span>童尐果</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9702001.html" title="小安爱烘焙" target="_blank">
<span>小安爱烘焙</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9011912.html" title="昕勤" target="_blank">
<span>昕勤</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9465296.html" title="sunny_81" target="_blank">
<span>sunny_81</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9365595.html" title="ζั͡茤芈寶貝ق" target="_blank">
<span>ζั͡茤芈寶貝ق</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9701390.html" title="美美俏厨娘" target="_blank">
<span>美美俏厨娘</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9693658.html" title="🍃叶子子" target="_blank">
<span>🍃叶子子</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-8075033.html" title="tina清潭丽影" target="_blank">
<span>tina清潭丽影</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9702488.html" title="馒头蘸白糖" target="_blank">
<span>馒头蘸白糖</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9693830.html" title="江西赣州～陈姐" target="_blank">
<span>江西赣州～陈姐</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9693839.html" title="毛毛手作" target="_blank">
<span>毛毛手作</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9700281.html" title="LiLi8211" target="_blank">
<span>LiLi8211</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9323823.html" title="戴琴" target="_blank">
<span>戴琴</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-6126829.html" title="海风的韵味" target="_blank">
<span>海风的韵味</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-7878677.html" title="贝尔烘焙" target="_blank">
<span>贝尔烘焙</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-135243.html" title="尘欢" target="_blank">
<span>尘欢</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9207071.html" title="林妈爱美味" target="_blank">
<span>林妈爱美味</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9694451.html" title="JIE彤" target="_blank">
<span>JIE彤</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9700258.html" title="澈时光" target="_blank">
<span>澈时光</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-8517569.html" title="圆点521" target="_blank">
<span>圆点521</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-7283319.html" title="Dream芸_" target="_blank">
<span>Dream芸_</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9699742.html" title="太阳香气" target="_blank">
<span>太阳香气</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9700351.html" title="芹儿～" target="_blank">
<span>芹儿～</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9701176.html" title="涵妈美食" target="_blank">
<span>涵妈美食</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-8790958.html" title="蓁蓁真" target="_blank">
<span>蓁蓁真</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-2272350.html" title="syxuada金向日葵" target="_blank">
<span>syxuada金向日葵</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-9701215.html" title="知了的小食光" target="_blank">
<span>知了的小食光</span>
</a>
</li>
<li>
<a href="http://home.meishichina.com/space-2298731.html" title="秋天到枫叶红" target="_blank">
<span>秋天到枫叶红</span>
</a>
</li>
</ul>
</div>
<div class="xl_img">
<img width="990" height="278" class="imgLoad" src="http://static.meishichina.com/v6/img/blank.gif" data-src="http://static.meishichina.com/v6/img/event/xl/2_05.jpg">
</div>
<div class="xl ">
<div class="list mt20 clear">
<ul>
<li>
<div>
<a title="#新良首届烘焙大赛#温馨团圆之家～金砖五彩映月" href="http://home.meishichina.com/recipe-287269.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/06/c640_20160906147313057837413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>金砖五彩映月</span><i></i></a>
<a title="雨慧05" href="http://home.meishichina.com/space-9693518.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/69/35/18_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287269" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#巧克力柠檬蛋糕" href="http://home.meishichina.com/recipe-286809.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/03/c640_20160903147291098349113.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>巧克力柠檬蛋糕</span><i></i></a>
<a title="亲爱的兔美酱" href="http://home.meishichina.com/space-9699927.html" class="u" target="_blank">
<img data-src="http://static.meishichina.com/u2/res/noavatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="286809" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#毛毛虫面包" href="http://home.meishichina.com/recipe-287827.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/09/c640_20160909147338854151313.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>毛毛虫面包</span><i></i></a>
<a title="芹儿～" href="http://home.meishichina.com/space-9700351.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/03/51_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287827" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="＃新良首届烘焙大赛＃可颂" href="http://home.meishichina.com/recipe-287848.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/09/c640_20160909147338678833513.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>可颂</span><i></i></a>
<a title="澈时光" href="http://home.meishichina.com/space-9700258.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/02/58_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287848" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#绣球酥" href="http://home.meishichina.com/recipe-287853.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/09/c640_20160909147338664014213.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>绣球酥</span><i></i></a>
<a title="Xiao小C" href="http://home.meishichina.com/space-9696620.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/69/66/20_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287853" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#蔓越梅蛋卷" href="http://home.meishichina.com/recipe-287833.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/09/c640_20160909147338622240613.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>蔓越梅蛋卷</span><i></i></a>
<a title="李小文子" href="http://home.meishichina.com/space-9700211.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/02/11_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287833" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛# 豆沙蛋黄酥皮月饼" href="http://home.meishichina.com/recipe-287835.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147334558724013.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>#新良首届烘焙大赛# 豆沙蛋黄酥皮月饼</span><i></i></a>
<a title="Meggy跳舞的苹果" href="http://home.meishichina.com/space-7513584.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/007/51/35/84_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287835" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="＃新良首届烘焙大赛＃苏式月饼金腿伍仁酥" href="http://home.meishichina.com/recipe-287778.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147333739032413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>苏式月饼金腿伍仁酥</span><i></i></a>
<a title="懒猫胖胖哒" href="http://home.meishichina.com/space-9554642.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/55/46/42_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287778" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#金秋穗月" href="http://home.meishichina.com/recipe-287777.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147333063911413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>金秋穗月</span><i></i></a>
<a title="漪弈" href="http://home.meishichina.com/space-6507786.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/006/50/77/86_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287777" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#如意吉祥椰蓉包" href="http://home.meishichina.com/recipe-287769.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147332945360413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>如意吉祥椰蓉包</span><i></i></a>
<a title="四叶草gy" href="http://home.meishichina.com/space-9470375.html" class="u" target="_blank">
<img data-src="http://static.meishichina.com/u2/res/noavatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287769" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#玫瑰花冰皮月饼" href="http://home.meishichina.com/recipe-287774.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147332694221913.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>玫瑰花冰皮月饼</span><i></i></a>
<a title="小耳Maggie" href="http://home.meishichina.com/space-7946961.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/007/94/69/61_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287774" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#广式蛋黄莲蓉月饼" href="http://home.meishichina.com/recipe-287749.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147332100820113.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>广式蛋黄莲蓉月饼</span><i></i></a>
<a title="晚风21566" href="http://home.meishichina.com/space-9690290.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/69/02/90_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287749" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#永远爱你水果蛋糕" href="http://home.meishichina.com/recipe-287709.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147331759718313.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>永远爱你水果蛋糕</span><i></i></a>
<a title="云云私厨606" href="http://home.meishichina.com/space-9701141.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/11/41_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287709" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#中秋团圆之最爱酥酥酥" href="http://home.meishichina.com/recipe-287678.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/09/c640_20160909147339378628613.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>中秋团圆之最爱酥酥酥</span><i></i></a>
<a title="小小小小小小鱼儿" href="http://home.meishichina.com/space-9706112.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/61/12_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287678" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#胡萝卜藜麦咸戚风" href="http://home.meishichina.com/recipe-287697.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147330925911113.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>胡萝卜藜麦咸戚风</span><i></i></a>
<a title="快乐生活121" href="http://home.meishichina.com/space-9700195.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/01/95_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287697" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="＃新良首届烘焙大赛＃芝心榴莲冰皮月饼" href="http://home.meishichina.com/recipe-287669.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147330306662513.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>芝心榴莲冰皮月饼</span><i></i></a>
<a title="艾米小玥" href="http://home.meishichina.com/space-9700644.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/06/44_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287669" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="＃新良首届烘焙大赛＃广式五仁月饼" href="http://home.meishichina.com/recipe-287534.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147330300625413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>广式五仁月饼</span><i></i></a>
<a title="知了的小食光" href="http://home.meishichina.com/space-9701215.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/70/12/15_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287534" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="＃新良首届烘焙大赛＃藜麦豆沙卷" href="http://home.meishichina.com/recipe-287674.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147330246180213.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>藜麦豆沙卷</span><i></i></a>
<a title="林妈爱美味" href="http://home.meishichina.com/space-9207071.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/009/20/70/71_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287674" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#芒果千层蛋糕" href="http://home.meishichina.com/recipe-287650.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147329867815413.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>芒果千层蛋糕</span><i></i></a>
<a title="秋天的蝎子" href="http://home.meishichina.com/space-8851180.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/85/11/80_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287650" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
<li>
<div>
<a title="#新良首届烘焙大赛#创意面包之秋收" href="http://home.meishichina.com/recipe-287662.html" target="_blank">
<img data-src="http://i3.meishichina.com/attachment/recipe/2016/09/08/c640_20160908147330073196713.jpg" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="200" height="200" />
<span>创意面包之秋收</span><i></i></a>
<a title="Marsally4390" href="http://home.meishichina.com/space-8216564.html" class="u" target="_blank">
<img data-src="http://i3.meishichina.com/data/avatar/008/21/65/64_avatar_small.jpg?v=20161102" src="http://static.meishichina.com/v6/img/blank.gif" class="imgLoad" width="28" />
</a>
<a data-id="287662" title="喜欢" class="f1 nologin" href="javascript:void(0);"></a>
</div>
</li>
</ul>
</div>
<a title="查看更多" class="more" href="http://home.meishichina.com/minisite/xinlianghongbei2016/zongjuesai/">查看更多</a>
</div>
<div class="xl_img">
&nbsp;
</div>
<style type="text/css">
.footer-area{padding:10px 0;}
.footer-area .w {padding-top:10px;border-top: 1px solid #e8e8e8;}
.footer-area a {color: #666;}
.footer-area a:hover {color: #ba2020;}
.ft1{clear:none;float:left;font-size:11px;color:#666;width:680px;padding-top:10px;}
.ft1 .c3b {color:#c90;font-size:14px;font-weight:bold;margin-bottom:6px;}
.ft1 .c3b a {color:#f50;}
.ft1 .c3c {color:#aaa;font-size:12px;margin-bottom:6px;}
.ft2,.ft3,.ft4{clear:none;float:right;text-align:center;}
.ft3{margin:0 25px;*display:inline;}
</style>
<script type="text/javascript" src="__PUBLIC__/Home/js/all.js?v=20161025"></script>
<script src="__PUBLIC__/Home/js/jquery.sudoSlider.min.js" type="text/javascript"></script>
<script type="text/javascript">
msc.user.init();
msc.goTop.init();
$("img.imgLoad").imgLoad();

if($("#sliderh ul li").length>1){
if(/ipod|iphone|ipad|android|blackberry|webos|windows phone/i.test(navigator.userAgent))
var width=document.body.clientWidth;
else
var width=screen.width;

$("#sliderh li").width(width);
var sudoSlider = $("#sliderh").sudoSlider({
continuous: true,
auto: true,
effect: "fade",
speed: '700',
pause: '4000',
numeric: true,
resumePause: 2000
});
}

if($(".list li").length<20)
$(".more").hide();

$(".list").on("click",".f1",function(){
		if($(this).hasClass("on")){
		msc.ui.dialog.error("您已经喜欢过该菜谱");
		return false;
		}
		else if($(this).hasClass("nologin")){
		msc.user.login();
		return false;
		}
		else{
		var that =$(this);
		$.post('/ajax/ajax.php?ac=recipe&op=add_recipe_like', {
id:that.attr('data-id')
}, function(e) {
if (e.error == 0) {
msc.ui.dialog.success("喜欢成功");
that.addClass("on");
}

else{
msc.ui.dialog.error('出现异常，请重试');
}

},"json");
}
});
</script>
<script>

$("li.top_bar_more").hoverDelay(function(){
$("li.top_bar_more div").show();
},function(){
$("li.top_bar_more div").hide();
},200,200);

var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fb9cd9dcdda23cee0c7357db9be24acb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script> 
<include file='public/footer'/>
</body>
</html>
